@animationLessTime: 1s;
@lessLocation: '../../general/less-files';

@import '@{lessLocation}/normalize';
@import '@{lessLocation}/variables';
@import '@{lessLocation}/clearfix';
@import '@{lessLocation}/responsive-visibility';
@import '@{lessLocation}/responsive-utilities';
@import '@{lessLocation}/vendor-prefixes';
@import '@{lessLocation}/opacity';
@import '@{lessLocation}/utilities';
@import '@{lessLocation}/scaffolding';

@import '@{lessLocation}/animation/animated.less';
@import '@{lessLocation}/animation/zoomIn.less';
@import '@{lessLocation}/animation/slideInUp.less';
@import '@{lessLocation}/animation/slideOutDown.less';
@import '@{lessLocation}/animation/fadeIn.less';
@import '@{lessLocation}/animation/slideInRight.less';
@import '@{lessLocation}/animation/slideOutLeft.less';
@import '@{lessLocation}/animation/slideInDown.less';

@import '@{lessLocation}/animation/logoAnim.less';

body {
  text-align: center;
  font-family: 'BebasNeueBold';
  overflow: hidden;
  position: relative;
  height: auto;
  height: 100%;
}
.start-screen {
  background: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  .animation-delay(3.15s);
  &:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  .text{
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
  }
  .logo-section{
    margin: 0 auto 46px;
    width: @sign-x/3.3;
    height: @sign-y/3.3;
    position: relative;
    @media (min-width: 500px) {
      width: @sign-x/2.5;
      height: @sign-y/2.5;
    }
    @media (min-width: 960px) {
      width: @sign-x;
      height: @sign-y;
    }
    .logo{
      display: block;
      margin: 0 auto;
      width: @sign-x/3.3;
      height: @sign-y/3.3;
      background: url("images/logo-animation.png") 0 0 no-repeat;
      .animation(sign-anim @sign-duration .5s steps(@sign-frames) forwards);
      background-size: (@sign-x/3.3) auto;
      @media (min-width: 480px) {
        background-size: (@sign-x/2.5) auto;
        width: @sign-x/2.5;
        height: @sign-y/2.5;
      }
      @media (min-width: 960px) {
        background-size: 100% auto;
        width: @sign-x;
        height: @sign-y;
      }
    }
    .logo-kbc {
      position: absolute;
      right: 0;
      top: 0;
      max-width: 30%;
      text-align: right;
      .animation-delay(1.15s);
      @media (min-width: 960px) {
        max-width: 100%;
      }
    }
  }
  .slogan{
    text-align: center;
    font-size: 60px;
    color: #FF5D3B;
    .animation-delay(1.27s);
    @media (min-width: @screen-sm-min) {
      font-size: 171px;
    }
  }
}
.overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  background: #000;
  z-index: 9;
}

.profiles{
  position: relative;
  height: 100%;
  .footer {
    content: '';
    display: block;
    width: 100%;
    height: 35px;
    background: #30c576;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 15;
  }

  .item{
    width: 33.333%;
    height:33.333vw;
    max-width: 180px;
    max-height: 180px;
    -webkit-flex: auto;
    flex: auto;
    background: #672619;
    overflow: hidden;
    @media (min-width: @screen-sm-min) {
      width: 20%;
      height:20vw;
    }
    @media (min-width: @screen-md-min) {
      width: 9.09%;
      height:9.09vw;
    }
    float: left;
    .popup {
      position: relative;
      z-index: 8;
      top:0;
      left: 0;
      width: 180px;
      height: 180px;
      -webkit-transition-property: top, left, width, height;
      //-webkit-transition-duration: 2s;
      overflow: hidden;
      img {
        display: block;
        float: left;
      }
      &.active {
        //.translate(-50%, -50%);
        position: absolute;
        z-index: 10;
        width: 65%;
        height: 500px;
        img {
          //border: 1px solid red;
          z-index: 10;
          position: relative;
        }
        .content {
          display: block;
        }
      }
      .content{
        display: none;
        position: absolute;
        height: 100%;
        width: 100%;
        float: left;
        z-index: 9;
        background: #00a8ec;
        color: #ffffff;
        .animation-delay(2s);
        .animation-duration(1s);
        text-align: left;
        padding: 24px 10px 0 526px;
        /*
        @media (max-width: @screen-xs-max) {
          .animation-name(slideInDown);
        }
        @media (min-width: @screen-sm-min) {
          padding: 47px 20px 0 553px;
          .animation-name(slideInRight);
        }
        */
        h1{
          .animation-delay(3.5s);
          font-size: 33.2px;
          margin: 0;
          line-height: 1;
          @media (min-width: @screen-sm-min) {
            font-size: 83.2px;
          }
        }
        h2{
          .animation-delay(3.8s);
          font-size: 26.3px;
          margin: 0 0 13px;
          line-height: 1;
          font-weight: normal;
          @media (min-width: @screen-sm-min) {
            font-size: 76.3px;
            margin: 0 0 33px;
          }
        }
        p{
          .animation-delay(4s);
          font-size: 15px;
          font-family: Muli;
          margin: 0;
          line-height: 1.2;
          @media (min-width: @screen-sm-min) {
            font-size: 50px;
          }
        }
        .web{
          .animation-delay(4.3s);
          font-size: 20px;
          margin: 10px 0 0;
          line-height: 1;
          @media (min-width: @screen-sm-min) {
            font-size: 61px;
            margin: 50px 0 0;
          }
        }
      }
    }
  }
}