@sign-x: 960px;
@sign-y: 333px;
@sign-frames: 36;
@sign-duration: 1.25s;
@sign-total: @sign-frames * -@sign-y;
@sign-total-xs: @sign-frames * (-@sign-y / 3.3);
@sign-total-sm: @sign-frames * (-@sign-y / 2.5);

@-webkit-keyframes sign-anim {
  to {
    background-position: 0 @sign-total-xs;
  }
}

@-moz-keyframes sign-anim {
  to {
    background-position: 0 @sign-total-xs;
  }
}

@keyframes sign-anim {
  to {
    background-position: 0 @sign-total-xs;
  }
}

@media (min-width: 480px) {
  @-webkit-keyframes sign-anim {
    to {
      background-position: 0 @sign-total-sm;
    }
  }

  @-moz-keyframes sign-anim {
    to {
      background-position: 0 @sign-total-sm;
    }
  }

  @keyframes sign-anim {
    to {
      background-position: 0 @sign-total-sm;
    }
  }
}
@media (min-width: 960px) {
  @-webkit-keyframes sign-anim {
    to {
      background-position: 0 @sign-total;
    }
  }

  @-moz-keyframes sign-anim {
    to {
      background-position: 0 @sign-total;
    }
  }

  @keyframes sign-anim {
    to {
      background-position: 0 @sign-total;
    }
  }
}