@-webkit-keyframes rotateInUpLeftZoomIn {
	0% {
		-webkit-transform-origin: 30% bottom;
		-webkit-transform: rotate(10deg) scale(0.1, 0.1);
		opacity: 0;
	}
	
	100% {
		-webkit-transform-origin: left bottom;
		-webkit-transform: rotate(0) scale(1, 1);
		opacity: 1;
	}
}

@-moz-keyframes rotateInUpLeftZoomIn {
	0% {
		-moz-transform-origin: 30% bottom;
		-moz-transform: rotate(15deg) scale(0.1, 0.1);
		opacity: 0;
	}
	
	100% {
		-moz-transform-origin: 30% bottom;
		-moz-transform: rotate(0);
		opacity: 1;
	}
}

@-o-keyframes rotateInUpLeftZoomIn {
	0% {
		-o-transform-origin: 30% bottom;
		-o-transform: rotate(10deg) scale(0.1, 0.1);
		opacity: 0;
	}
	
	100% {
		-o-transform-origin: left bottom;
		-o-transform: rotate(0) scale(1, 1);
		opacity: 1;
	}
}

@keyframes rotateInUpLeftZoomIn {
	0% {
		transform-origin: 30% bottom;
		transform: rotate(10deg) scale(0.1, 0.1);
		opacity: 0;
	}
	
	100% {
		transform-origin: left bottom;
		transform: rotate(0) scale(1, 1);
		opacity: 1;
	}
}

.rotateInUpLeftZoomIn {
	-webkit-animation-name: rotateInUpLeftZoomIn;
	-moz-animation-name: rotateInUpLeftZoomIn;
	-o-animation-name: rotateInUpLeftZoomIn;
	animation-name: rotateInUpLeftZoomIn;
}