@keyframes scaleIn {
    0% {
      transform: scale(0,1);
    }
    100% {
      transform: scale(1,1);
    }
}

@-webkit-keyframes scaleIn {
  0% {
    -webkit-transform: scale(0,1);
  }
  100% {
    -webkit-transform: scale(1,1);
  }
}

@-moz-keyframes scaleIn {
  0% {
    -moz-transform: scale(0,1);
  }
  100% {
    -moz-transform: scale(1,1);
  }
}

@-o-keyframes scaleIn {
  0% {
    -o-transform: scale(0,1);
  }
  100% {
    -o-transform: scale(1,1);
  }
}

.scaleIn {
    animation-name: scaleIn;
    -webkit-animation-name: scaleIn;
    -moz-animation-name: scaleIn;
    -o-animation-name: scaleIn;
}
