@keyframes slideInRight {
    0% {
        transform: translateX(-100%);
        visibility: visible;
    }
    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes slideInRight {
  0% {
    -moz-transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -moz-transform: translateX(0);
  }
}

@-o-keyframes slideInRight {
  0% {
    -o-transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -o-transform: translateX(0);
  }
}

.slideInRight {
    animation-name: slideInRight;
    -webkit-animation-name: slideInRight;
}
