@-webkit-keyframes slideOutDownRight {
  0% {
    -webkit-transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(150%, 150%);
    visibility: visible;
  }
}

@-o-keyframes slideOutDownRight {
  0% {
    -o-transform: translate(0, 0);
  }
  100% {
    -o-transform: translate(150%, 150%);
    visibility: visible;
  }
}

@-moz-keyframes slideOutDownRight {
  0% {
    -moz-transform: translate(0, 0);
  }
  100% {
    -moz-transform: translate(150%, 150%);
    visibility: visible;
  }
}

@keyframes slideOutDownRight {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(150%, 150%);
    visibility: visible;
  }
}

.slideOutDownRight {
  -webkit-animation-name: slideOutDownRight;
  -moz-animation-name: slideOutDownRight;
  -o-animation-name: slideOutDownRight;
  animation-name: slideOutDownRight;
}
