@-webkit-keyframes slideOutRight {
    0% {
        -webkit-transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(100%);
        visibility: hidden;
    }
}
@-moz-keyframes slideOutRight {
    0% {
        -moz-transform: translateX(0);
    }
    100% {
      -moz-transform: translateX(100%);
        visibility: hidden;
    }
}
@-o-keyframes slideOutRight {
    0% {
      -o-transform: translateX(0);
    }
    100% {
      -o-transform: translateX(100%);
        visibility: hidden;
    }
}
@keyframes slideOutRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
        visibility: hidden;
    }
}

.slideOutRight {
  -webkit-animation-name: slideOutRight;
  -moz-animation-name: slideOutRight;
    -o-animation-name: slideOutRight;
    animation-name: slideOutRight;
}
