@-webkit-keyframes slideInOutRight {
  100% {
    left: 200%;
  }
}

@-moz-keyframes slideInOutRight {
  100% {
    left: 200%;
  }
}

@-o-keyframes slideInOutRight {
  100% {
    left: 200%;
  }
}

@keyframes slideInOutRight {
  100% {
    left: 200%;
  }
}

.slideInOutRight {
  -webkit-animation-name: slideInOutRight;
  -moz-animation-name: slideInOutRight;
  -o-animation-name: slideInOutRight;
  animation-name: slideInOutRight;
}

@-webkit-keyframes slideInOutRight2 {
  100% {
    left: 50%;
  }
}

@-moz-keyframes slideInOutRight2 {
  100% {
    left: 50%;
  }
}

@-o-keyframes slideInOutRight2 {
  100% {
    left: 50%;
  }
}

@keyframes slideInOutRight2 {
  100% {
    left: 50%;
  }
}

@media (min-width: @screen-sm-min) {
  @-webkit-keyframes slideInOutRight2 {
    100% {
      left: 66%;
    }
  }
  @-moz-keyframes slideInOutRight2 {
    100% {
      left: 66%;
    }
  }
  @-o-keyframes slideInOutRight2 {
    100% {
      left: 66%;
    }
  }
  @keyframes slideInOutRight2 {
    100% {
      left: 66%;
    }
  }
}

.slideInOutRight2 {
  -webkit-animation-name: slideInOutRight2;
  -moz-animation-name: slideInOutRight2;
  -o-animation-name: slideInOutRight2;
  animation-name: slideInOutRight2;
}

@-webkit-keyframes slideInOutRight3 {
  100% {
    left: -20%;
  }
}

@-moz-keyframes slideInOutRight3 {
  100% {
    left: -20%;
  }
}

@-o-keyframes slideInOutRight3 {
  100% {
    left: -20%;
  }
}

@keyframes slideInOutRight3 {
  100% {
    left: -20%;
  }
}

@media (min-width: @screen-sm-min) {
  @-webkit-keyframes slideInOutRight3 {
    100% {
      left: -10%;
    }
  }

  @-moz-keyframes slideInOutRight3 {
    100% {
      left: -10%;

    }
  }

  @-o-keyframes slideInOutRight3 {
    100% {
      left: -10%;

    }
  }

  @keyframes slideInOutRight3 {
    100% {
      left: -10%;
    }
  }
}

.slideInOutRight3 {
  -webkit-animation-name: slideInOutRight3;
  -moz-animation-name: slideInOutRight3;
  -o-animation-name: slideInOutRight3;
  animation-name: slideInOutRight3;
}

@-webkit-keyframes slideInOutRight4 {
  100% {
    left: -5%;
  }
}

@-moz-keyframes slideInOutRight4 {
  100% {
    left: -5%;
  }
}

@-o-keyframes slideInOutRight4 {
  100% {
    left: -5%;
  }
}

@keyframes slideInOutRight4 {
  100% {
    left: -5%;
  }
}

@media (min-width: @screen-sm-min) {
  @-webkit-keyframes slideInOutRight4 {
    100% {
      left: 0;
    }
  }

  @-moz-keyframes slideInOutRight4 {
    100% {
      left: 0;
    }
  }

  @-o-keyframes slideInOutRight4 {
    100% {
      left: 0;
    }
  }

  @keyframes slideInOutRight4 {
    100% {
      left: 0;
    }
  }
}

.slideInOutRight4 {
  -webkit-animation-name: slideInOutRight4;
  -moz-animation-name: slideInOutRight4;
  -o-animation-name: slideInOutRight4;
  animation-name: slideInOutRight4;
}
