@-webkit-keyframes slideInUpLeft {
  0% {
    -webkit-transform: translate(150%, 150%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}

@-o-keyframes slideInUpLeft {
  0% {
    -o-transform: translate(150%, 150%);
    visibility: visible;
  }
  100% {
    -o-transform: translate(0, 0);
  }
}

@-moz-keyframes slideInUpLeft {
  0% {
    -moz-transform: translate(150%, 150%);
    visibility: visible;
  }
  100% {
    -moz-transform: translate(0, 0);
  }
}

@keyframes slideInUpLeft {
  0% {
    transform: translate(150%, 150%);
    visibility: visible;
  }
  100% {
    transform: translate(0, 0);
  }
}

.slideInUpLeft {
  -webkit-animation-name: slideInUpLeft;
  -moz-animation-name: slideInUpLeft;
  -o-animation-name: slideInUpLeft;
  animation-name: slideInUpLeft;
}
