@-webkit-keyframes slideOutDown {
    0% {
        -webkit-transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(100%);
        visibility: hidden;
    }
}
@-moz-keyframes slideOutDown {
    0% {
        -moz-transform: translateY(0);
    }
    100% {
        -moz-transform: translateY(100%);
        visibility: hidden;
    }
}
@-o-keyframes slideOutDown {
    0% {
        -o-transform: translateY(0);
    }
    100% {
        -o-transform: translateY(100%);
        visibility: hidden;
    }
}
@keyframes slideOutDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
        visibility: hidden;
    }
}

.slideOutDown {
    -webkit-animation-name: slideOutDown;
    -moz-animation-name: slideOutDown;
    -o-animation-name: slideOutDown;
    animation-name: slideOutDown;
}
