@-webkit-keyframes slideOutLeft {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    visibility: hidden;
  }
}

@keyframes slideOutLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
        visibility: hidden;
    }
}

.slideOutLeft {
    animation-name: slideOutLeft;
    -webkit-animation-name: slideOutLeft;
}
