@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes slideInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes slideInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -moz-transform: translateY(0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -moz-animation-name: slideInUp;
}
//----------------------------------------------------------------------------------------------------------------------
@keyframes slideInUp50 {
  0% {
    .scale(1; 0);
  }
  100% {
    .scale(1; 1);
  }
}

@-webkit-keyframes slideInUp50 {
  0% {
    .scale(1; 0);
  }
  100% {
    .scale(1; 1);
  }
}

.slideInUp50 {
  -webkit-animation-name: slideInUp50;
  animation-name: slideInUp50;
}
//----------------------------------------------------------------------------------------------------------------------
@keyframes slideInUp500 {
  0% {
    opacity: 0;
    transform: translateY(500%);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes slideInUp500 {
  0% {
    opacity: 0;
    transform: translateY(500%);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-moz-keyframes slideInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(500%);
    visibility: visible;
  }
  100% {
    -moz-transform: translateY(0);
  }
}

.slideInUp500 {
  -webkit-animation-name: slideInUp500;
  animation-name: slideInUp500;
}
