@-webkit-keyframes slideInDown {
    0% {
        transform: translateY(-100%);
        visibility: visible;
    }
    100% {
        transform: translateY(0);
    }
}
@-moz-keyframes slideInDown {
    0% {
        -moz-transform: translateY(-100%);
        visibility: visible;
    }
    100% {
      -moz-transform: translateY(0);
    }
}
@-o-keyframes slideInDown {
    0% {
        -o-transform: translateY(-100%);
        visibility: visible;
    }
    100% {
      -o-transform: translateY(0);
    }
}
@keyframes slideInDown {
    0% {
        transform: translateY(-100%);
        visibility: visible;
    }
    100% {
        transform: translateY(0);
    }
}

.slideInDown {
    -webkit-animation-name: slideInDown;
    -moz-animation-name: slideInDown;
    -o-animation-name: slideInDown;
    animation-name: slideInDown;
}
@-webkit-keyframes slideInDownLarge {
    0% {
        transform: translateY(-300%);
        visibility: visible;
    }
    100% {
        transform: translateY(0);
    }
}
@-moz-keyframes slideInDownLarge {
    0% {
        -moz-transform: translateY(-300%);
        visibility: visible;
    }
    100% {
      -moz-transform: translateY(0);
    }
}
@-o-keyframes slideInDownLarge {
    0% {
        -o-transform: translateY(-300%);
        visibility: visible;
    }
    100% {
      -o-transform: translateY(0);
    }
}
@keyframes slideInDownLarge {
    0% {
        transform: translateY(-300%);
        visibility: visible;
    }
    100% {
        transform: translateY(0);
    }
}

.slideInDownLarge {
    -webkit-animation-name: slideInDownLarge;
    -moz-animation-name: slideInDownLarge;
    -o-animation-name: slideInDownLarge;
    animation-name: slideInDownLarge;
}
