@-webkit-keyframes zoomOut {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(1.5, 1.5, 1.5);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
    }
}
@-moz-keyframes zoomOut {
    0% {
        opacity: 0;
        -moz-transform: scale3d(1.5, 1.5, 1.5);
    }
    50% {
        -moz-transform: scale3d(1, 1, 1);
    }
}
@keyframes zoomOut {
    0% {
        opacity: 0;
        transform: scale3d(1.5, 1.5, 1.5);
    }
    50% {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }

}

@-webkit-keyframes zoomOut1_2 {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
  }
}
@-moz-keyframes zoomOut1_2 {
  0% {
    opacity: 0;
    -moz-transform: scale3d(1.1, 1.1, 1.1);
  }
  50% {
    -moz-transform: scale3d(1, 1, 1);
  }
}
@keyframes zoomOut1_2 {
  0% {
    opacity: 0;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  50% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }

}

.zoomOut {
    -webkit-animation-name: zoomOut;
    -moz-animation-name: zoomOut;
    animation-name: zoomOut;
}

.zoomOut1_2 {
  -webkit-animation-name: zoomOut1_2;
  -moz-animation-name: zoomOut1_2;
  animation-name: zoomOut1_2;
}
