@-webkit-keyframes zoomOut {
    0% {
        opacity: 1;
        transform: scale3d(100, 100, 100);
    }
    50% {
        transform: scale3d(1, 1, 1);
    }
}
@-moz-keyframes zoomOut {
    0% {
        opacity: 1;
        transform: scale3d(100, 100, 100);
    }
    50% {
        transform: scale3d(1, 1, 1);
    }
}
@keyframes zoomOut {
    0% {
        opacity: 1;
    }
    50% {
      transform: scale3d(1, 1, 1);
    }

}

.zoomOut {
    -webkit-animation-name: zoomOut;
    -moz-animation-name: zoomOut;
    animation-name: zoomOut;
}
