@animationLessTime: 1s;
@lessLocation: '../../general/less-files';

@import '@{lessLocation}/normalize';
@import '@{lessLocation}/variables';
@import '@{lessLocation}/clearfix';
@import '@{lessLocation}/responsive-visibility';
@import '@{lessLocation}/responsive-utilities';
@import '@{lessLocation}/vendor-prefixes';
@import '@{lessLocation}/opacity';
@import '@{lessLocation}/utilities';
@import '@{lessLocation}/scaffolding';

@import '@{lessLocation}/long-shadow.less';

@import '@{lessLocation}/animation/animated.less';
@import '@{lessLocation}/animation/slideInDown.less';
@import '@{lessLocation}/animation/slideInUp.less';
@import '@{lessLocation}/animation/slideInRight.less';
@import '@{lessLocation}/animation/slideInOutRight.less';
@import '@{lessLocation}/animation/fadeInDown.less';
@import '@{lessLocation}/animation/fadeOut.less';
@import '@{lessLocation}/animation/scaleIn.less';


body {
  background-color: #f5f5f5;
  font-family: 'lubalin_graphregular';
}
html, body{
   overflow: hidden;
   width: 100%;
   position:relative;
 }

#kbc-wrap {
  height: 100%;
}

.weather{
  height: 100%;
  width: 53%;
  position: relative;
  z-index: 12;
  left: -100%;
  .skew(-13deg;0);
  .animation-duration(2s);
  .animation-delay(3.5s);
  .animation-fill-mode(forwards);
  background: #ffffff;
  @media (min-width: @screen-sm-min) {
    width: 55%;
  }
  @media (min-width: @screen-md-min) {
    width: 62%;
  }
}

.page-promo {
  height: 100%;
  background-color: #f5f5f5;
  position: absolute;
  z-index: 9;
  width: 100%;
  text-align: center;
  .animation-delay(3.2s);
  .animation-duration(.1s);
  &:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-right: -4px;
  }
  .kbc-title {
    display: inline-block;
    vertical-align: middle;
    font-size: 54px;
    text-transform: uppercase;
    color: #0E4C82;
    .animation-duration(1s);
    .animation-delay(0.25s);
  }
}

.dark-overlay {
  position: absolute;
  left: -250%;
  top: 0;
  height: 100%;
  width: 200%;
  z-index: 10;
  .animation-duration(2s);
  .animation-delay(2.5s);
  .animation-fill-mode(forwards);
  background-color: #0E4C82;
  .skew(-10deg;0);
}

.light-overlay {
  position: absolute;
  left: -200%;
  top: 0;
  height: 100%;
  width: 150%;
  z-index: 11;
  .animation-duration(2s);
  .animation-delay(2.9s);
  .animation-fill-mode(forwards);
  background-color: #00adee;
  .skew(-10deg;0);
}

.weather-box{
  position: absolute;
  left: 2%;
  top: 50%;
  width: 42.7%;
  z-index: 12;
  color: #ffffff;
  text-align: left;
  .translate(0;-50%);
  @media (min-width: @screen-sm-min) {
    left: 5%;
  }
  @media (min-width: @screen-md-min) {
    left: 10%;
  }
    .title{
      font-size: 16px;
      color: #00ADEE;
      .animation-delay(5.7s);
      line-height: 1.1;
      margin-bottom: 5px;
      @media (min-width: @screen-sm-min) {
        font-size: 50px;
        margin-bottom: 25px;
      }
      @media (min-width: @screen-md-min) {
        font-size: 90px;
        margin-bottom: 75px;
      }
    }
    .img{
      float: left;
      .animation-delay(6s);
      margin-right: 5px;
      @media (min-width: @screen-sm-min) {
        margin-right: 25px;
      }
      @media (min-width: @screen-md-min) {
        margin-right: 95px;
      }
      img {
        max-width: 50px;
        @media (min-width: @screen-sm-min) {
          max-width: 100px;
        }
        @media (min-width: @screen-md-min) {
          max-width: 100%;
        }
      }
    }
    .content{
      overflow: hidden;
      font-size: 14px;
      color: #003768;
      @media (min-width: @screen-sm-min) {
        font-size: 30px;
      }
      @media (min-width: @screen-md-min) {
        font-size: 88px;
      }
      .deg{
        font-size: 20px;
        color: #00ADEE;
        line-height: 1.1;
        @media (min-width: @screen-sm-min) {
          font-size: 80px;
        }
        @media (min-width: @screen-md-min) {
          font-size: 180px;
        }
      }
      .animated{
        .animation-delay(5.7s);
      }
      p{
        margin: 0;
        line-height: 1.05;
      }
    }
}

.secondary-weather-box {
  position: absolute;
  right: 0;
  top: 70%;
  width: 60%;
  z-index: 12;
  color: #ffffff;
  .translate(0;-50%);
  overflow: hidden;
  @media (min-width: @screen-sm-min) {
    top: 50%;
    width: 40%;
  }
  @media (min-width: @screen-md-min) {
    width: 29%;
  }
  .secondary-weather {
    text-align: center;
    .title {
      font-size: 24px;
      line-height: 1.3;
      margin-bottom: 5px;
      @media (min-width: @screen-sm-min) {
        font-size: 34px;
        margin-bottom: 15px;
        margin-top: 5px;
      }
      @media (min-width: @screen-md-min) {
        font-size: 54px;
        margin-bottom: 30px;
        margin-top: 10px;
      }
    }
    .deg {
      font-size: 30px;
      line-height: 1.2;
      font-family: 'lubalin_graph_bookregular';
      font-weight: 400;
      @media (min-width: @screen-sm-min) {
        font-size: 86px;
      }
      @media (min-width: @screen-md-min) {
        font-size: 126px;
      }
    }
    .img {
      width: 50px;
      height: 50px;
      font-size: 0;
      text-align: center;
      margin: 0 auto 10px;
      @media (min-width: @screen-sm-min) {
        width: 100px;
        height: 100px;
      }
      @media (min-width: @screen-md-min) {
        width: 162px;
        height: 162px;
      }
      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }
      img {
        display: inline-block;
        vertical-align: middle;
      }
    }
    &.slideInDownLarge {
      .animation-delay(6.5s);
      .animation-duration(0.5s);
      &:first-child {
        .animation-delay(7s);
      }
    }
  }
  .sep {
    max-width: 352px;
    width: 80%;
    height: 4px;
    margin: 6px auto 10px;
    background: #0186c3;
    .animation-delay(6.8s);
    .animation-duration(1s);
    @media (min-width: @screen-sm-min) {
      height: 8px;
      margin: 60px auto 60px;
    }
  }
}

