@animationLessTime: 1s;
@lessLocation: '../../general/less-files';

@import '@{lessLocation}/normalize';
@import '@{lessLocation}/variables';
@import '@{lessLocation}/clearfix';
@import '@{lessLocation}/responsive-visibility';
@import '@{lessLocation}/responsive-utilities';
@import '@{lessLocation}/vendor-prefixes';
@import '@{lessLocation}/opacity';
@import '@{lessLocation}/utilities';
@import '@{lessLocation}/scaffolding';

@import '@{lessLocation}/animation/animated.less';
@import '@{lessLocation}/animation/zoomIn.less';
@import '@{lessLocation}/animation/slideInUp.less';
@import '@{lessLocation}/animation/fadeIn.less';
@import '@{lessLocation}/animation/fadeOut.less';

@import '@{lessLocation}/animation/logoAnim.less';

body {
  text-align: center;
  font-family: 'BebasNeueBold';
  overflow: hidden;
  position: relative;
  height: 100%;
  min-height: 100%;
}
.bg-image{
  .animation-delay(3s);
  animation-name: bg-anim;
  -webkit-animation-name: bg-anim;
  -moz-animation-name: bg-anim;
  -o-animation-name: bg-anim;
  .animation-duration(8s);
  .animation-fill-mode(forwards);
  background: url("images/bg.jpg") no-repeat center;
  background-size: 105% 105%;
  background-position: 0 0;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
}
.bottom-line{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #ff5d3b;
  height: 33px;
  z-index: 0;
}
.start-screen {
  background: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  .animation-delay(3.15s);
  .animation-fill-mode(forwards);
}
.logo2 {
  .animation-delay(3.25s);
  padding-top: 102px;
}
.start-text{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 11;
  font-size: 0;
  .animation-delay(3.25s);
  &:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  .text{
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    margin: 0 auto;
  }
  .logo-section{
    margin: 0 auto 150px;
    width: @sign-x/3.3;
    height: @sign-y/3.3;
    position: relative;
    @media (min-width: 500px) {
      width: @sign-x/2.5;
      height: @sign-y/2.5;
    }
    @media (min-width: 960px) {
      width: @sign-x;
      height: @sign-y;
    }
    .logo{
      display: block;
      margin: 0 auto;
      width: @sign-x/3.3;
      height: @sign-y/3.3;
      background: url("images/logo-animation.png") 0 0 no-repeat;
      .animation(sign-anim @sign-duration .5s steps(@sign-frames) forwards);
      background-size: (@sign-x/3.3) auto;
      @media (min-width: 480px) {
        background-size: (@sign-x/2.5) auto;
        width: @sign-x/2.5;
        height: @sign-y/2.5;
      }
      @media (min-width: 960px) {
        background-size: 100% auto;
        width: @sign-x;
        height: @sign-y;
      }
    }
    .logo-kbc {
      position: absolute;
      right: 0;
      top: 0;
      max-width: 30%;
      text-align: right;
      .animation-delay(1.15s);
      @media (min-width: 960px) {
        max-width: 100%;
      }
    }
  }
  .slogan-fade{
    .animation-delay(3.15s);
    .animation-fill-mode(forwards);
  }
  .slogan{
    text-align: center;
    font-size: 30px;
    color: #FF5D3B;
    .animation-delay(1.27s);
    @media (min-width: @screen-sm-min) {
      font-size: 80px;
    }
  }
}

.text {
  max-width: 83%;
  margin: 77px auto 0;
  .text1 {
    font-family: 'Muli';
    color: #ffffff;
    font-size: 38.8px;
    @media (min-width: @screen-md-min) {
      font-size: 58.8px;
      }
    .slide1{
      .animation-delay(3.0s);
      .animation-fill-mode(forwards);
      overflow: hidden;
    }
    .slide2{
      margin-top: 42px;
      .animation-delay(3.15s);
      .animation-fill-mode(forwards);
      overflow: hidden;
    }
  }
  .text2{
    font-size: 213px;
    color: #00A8EC;
    line-height: 177px;
    @media (min-width: @screen-md-min) {
      font-size: 413px;
      line-height: 377px;
      }
  }
}
.countdown{
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-top: 60px;
  position: absolute;
  bottom: 7%;
  .item{
    display: table-cell;
    vertical-align: top;
    min-width: 1%;
    text-align: center;
    .title{
      color: #ffffff;
      font-family: 'Muli';
      font-size: 28px;
      text-transform: uppercase;
      &.small {
        font-size: 24px;
        .transition(all 0.5s ease);
      }
    }
    .number{
      color: #00A8EC;
      font-size: 141px;
      line-height: 1;
    }
  }
  .item1 {
    .title {
      .animation-delay(5s);
    }
    .number {
      .animation-delay(5.2s);
    }
  }
  .item2 {
    .title {
      .animation-delay(5.2s);
    }
    .number {
      .animation-delay(5.4s);
    }
  }
  .item3 {
    .title {
      .animation-delay(5.4s);
    }
    .number {
      .animation-delay(5.6s);
    }
  }
  .item4 {
    .title {
      .animation-delay(5.6s);
    }
    .number {
      .animation-delay(5.8s);
    }
  }
  .item5 {
    .title {
      .animation-delay(5.8s);
    }
    .number {
      .animation-delay(6s);
    }
  }
}

@-webkit-keyframes bg-anim {
  0% {
    background-size: 105% 105%;
  }

  100% {
    background-size: 100% 100%;
  }
}

@-moz-keyframes bg-anim {
  0% {
    background-size: 105% 105%;
  }

  100% {
    background-size: 100% 100%;
  }
}

@-o-keyframes bg-anim {
  0% {
    background-size: 105% 105%;
  }

  100% {
    background-size: 100% 100%;
  }
}

@keyframes bg-anim {
  0% {
    background-size: 105% 105%;
  }

  100% {
    background-size: 100% 100%;
  }
}

#my-slideshow {
  margin: 0 auto;
}


/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}