// text colors
@color-blue: #0E4C82;
@color-red: #FF5D3B;
@color-grey: #9B9B9B;

@animationLessTime: 1s;
@lessLocation: '../../general/less-files';

@import '@{lessLocation}/normalize';
@import '@{lessLocation}/variables';
@import '@{lessLocation}/clearfix';
@import '@{lessLocation}/responsive-visibility';
@import '@{lessLocation}/responsive-utilities';
@import '@{lessLocation}/vendor-prefixes';
@import '@{lessLocation}/opacity';
@import '@{lessLocation}/utilities';
@import '@{lessLocation}/scaffolding';

@import '@{lessLocation}/animation/animated.less';
@import '@{lessLocation}/animation/fadeIn.less';
@import '@{lessLocation}/animation/fadeInUp.less';
@import '@{lessLocation}/animation/zoomIn.less';
@import '@{lessLocation}/animation/slideInUp.less';
@import '@{lessLocation}/animation/zoomOutMiddle.less';


@screen-lg-min: 1370px;

/**/
::-webkit-scrollbar {
  display: none;
}
body {
  background: #f4f4f4;
  .transition(all 5s ease);
  font-family: 'BebasNeueBold';
}

#kbc-wrap {
  //height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 17px 0;
  &:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-right: -4px;
  }
  @media (min-width: @screen-md-min) {
    padding: 35px 0;
  }
  @media (min-width: @screen-md-min) {
    padding: 53px 0;
  }
  @media (min-width: @screen-lg-min) {
    padding: 66px 0;
  }
}

.kbc-next-wave {
  display: inline-block;
  vertical-align: middle;
}

.kbc-logo {
  margin: 0 0 13px;
  img {
    .animation-delay(.5s);
    max-width: 103px;
    @media (min-width: @screen-sm-min) {
      max-width: 209px;
    }
    @media (min-width: @screen-md-min) {
      max-width: 314px;
    }
    @media (min-width: @screen-lg-min) {
      max-width: inherit;
    }
  }
}

.kbc-title {
  overflow: hidden;
  margin-bottom: 20px;
  h1 {
    margin: 0;
    font-size: 41px;
    .animation-delay(2s);
    .animation-duration(500ms);
    @media (min-width: @screen-sm-min) {
      font-size: 82px;
    }
    @media (min-width: @screen-md-min) {
      font-size: 123px;
    }
    @media (min-width: @screen-lg-min) {
      font-size: 151px;
    }
  }
}

.kbc-subtitle {
  overflow: hidden;
  margin-bottom: 55px;
  h3 {
    margin: 0 0 10px;
    font-size: 20px;
    @media (min-width: @screen-sm-min) {
      font-size: 41px;
    }
    @media (min-width: @screen-md-min) {
      font-size: 61px;
    }
    @media (min-width: @screen-lg-min) {
      font-size: 75px;
    }
    .day {
      text-transform: none;
    }
    &.first {
      .animation-delay(3s);
      .animation-duration(500ms);
    }
    &.second {
      .animation-delay(3.5s);
      .animation-duration(500ms);
    }
  }
}

.kbc-countdown {
  .timer {
    .animation-delay(4s);
  }
  .kbc-countdown-part {
    color: @color-red;
    display: inline-block;
    vertical-align: top;

    .digit, .dots{
      width: auto;
      line-height: 0.85;
      font-size: 83px;
      text-align: center;
      @media (min-width: @screen-sm-min) {
        font-size: 166px;
      }
      @media (min-width: @screen-md-min) {
        font-size: 250px;
      }
      @media (min-width: @screen-lg-min) {
        font-size: 308px;
        width: 292px;
      }
    }
    .dots{
      width: auto;
      display: inline-block;
    }
    .label {
      font-size: 18px;
      color: @color-grey;
      @media (min-width: @screen-sm-min) {
        font-size: 27px;
      }
      @media (min-width: @screen-md-min) {
        font-size: 40px;
      }
      @media (min-width: @screen-lg-min) {
        font-size: 50px;
      }
    }
    &.days {
      .label {
        .animation-delay(4s);
      }
    }
    &.hours {
      .label {
        .animation-delay(4.3s);
        .animation-duration(300ms);
      }
    }
    &.minutes {
      .label {
        .animation-delay(4.6s);
        .animation-duration(300ms);
      }
    }
    &.seconds {
      .label {
        .animation-delay(4.9s);
        .animation-duration(300ms);
      }
    }
  }
}

.text-red {
  color: @color-red;
}

.text-blue {
  color: @color-blue;
}

.text-grey {
  color: @color-grey;
}