/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  height: 100%;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
/*!
 * Less Long Shadow v1.0
 *
 * Open sourced under MIT license by @zensimilia.
 */
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slideInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slideInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -moz-transform: translateY(0);
  }
}
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -moz-animation-name: slideInUp;
}
@keyframes slideInUp50 {
  0% {
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes slideInUp50 {
  0% {
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
.slideInUp50 {
  -webkit-animation-name: slideInUp50;
  animation-name: slideInUp50;
}
@keyframes slideInUp500 {
  0% {
    opacity: 0;
    transform: translateY(500%);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slideInUp500 {
  0% {
    opacity: 0;
    transform: translateY(500%);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes slideInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(500%);
    visibility: visible;
  }
  100% {
    -moz-transform: translateY(0);
  }
}
.slideInUp500 {
  -webkit-animation-name: slideInUp500;
  animation-name: slideInUp500;
}
@keyframes slideInRight {
  0% {
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes slideInRight {
  0% {
    -moz-transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@-o-keyframes slideInRight {
  0% {
    -o-transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -o-transform: translateX(0);
  }
}
.slideInRight {
  animation-name: slideInRight;
  -webkit-animation-name: slideInRight;
}
@-webkit-keyframes slideInOutRight {
  100% {
    left: 200%;
  }
}
@-moz-keyframes slideInOutRight {
  100% {
    left: 200%;
  }
}
@-o-keyframes slideInOutRight {
  100% {
    left: 200%;
  }
}
@keyframes slideInOutRight {
  100% {
    left: 200%;
  }
}
.slideInOutRight {
  -webkit-animation-name: slideInOutRight;
  -moz-animation-name: slideInOutRight;
  -o-animation-name: slideInOutRight;
  animation-name: slideInOutRight;
}
@-webkit-keyframes slideInOutRight2 {
  100% {
    left: 50%;
  }
}
@-moz-keyframes slideInOutRight2 {
  100% {
    left: 50%;
  }
}
@-o-keyframes slideInOutRight2 {
  100% {
    left: 50%;
  }
}
@keyframes slideInOutRight2 {
  100% {
    left: 50%;
  }
}
@media (min-width: 768px) {
  @-webkit-keyframes slideInOutRight2 {
    100% {
      left: 66%;
    }
  }
  @-moz-keyframes slideInOutRight2 {
    100% {
      left: 66%;
    }
  }
  @-o-keyframes slideInOutRight2 {
    100% {
      left: 66%;
    }
  }
  @keyframes slideInOutRight2 {
    100% {
      left: 66%;
    }
  }
}
.slideInOutRight2 {
  -webkit-animation-name: slideInOutRight2;
  -moz-animation-name: slideInOutRight2;
  -o-animation-name: slideInOutRight2;
  animation-name: slideInOutRight2;
}
@-webkit-keyframes slideInOutRight3 {
  100% {
    left: -20%;
  }
}
@-moz-keyframes slideInOutRight3 {
  100% {
    left: -20%;
  }
}
@-o-keyframes slideInOutRight3 {
  100% {
    left: -20%;
  }
}
@keyframes slideInOutRight3 {
  100% {
    left: -20%;
  }
}
@media (min-width: 768px) {
  @-webkit-keyframes slideInOutRight3 {
    100% {
      left: -10%;
    }
  }
  @-moz-keyframes slideInOutRight3 {
    100% {
      left: -10%;
    }
  }
  @-o-keyframes slideInOutRight3 {
    100% {
      left: -10%;
    }
  }
  @keyframes slideInOutRight3 {
    100% {
      left: -10%;
    }
  }
}
.slideInOutRight3 {
  -webkit-animation-name: slideInOutRight3;
  -moz-animation-name: slideInOutRight3;
  -o-animation-name: slideInOutRight3;
  animation-name: slideInOutRight3;
}
@-webkit-keyframes slideInOutRight4 {
  100% {
    left: -5%;
  }
}
@-moz-keyframes slideInOutRight4 {
  100% {
    left: -5%;
  }
}
@-o-keyframes slideInOutRight4 {
  100% {
    left: -5%;
  }
}
@keyframes slideInOutRight4 {
  100% {
    left: -5%;
  }
}
@media (min-width: 768px) {
  @-webkit-keyframes slideInOutRight4 {
    100% {
      left: 0;
    }
  }
  @-moz-keyframes slideInOutRight4 {
    100% {
      left: 0;
    }
  }
  @-o-keyframes slideInOutRight4 {
    100% {
      left: 0;
    }
  }
  @keyframes slideInOutRight4 {
    100% {
      left: 0;
    }
  }
}
.slideInOutRight4 {
  -webkit-animation-name: slideInOutRight4;
  -moz-animation-name: slideInOutRight4;
  -o-animation-name: slideInOutRight4;
  animation-name: slideInOutRight4;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes zoomOut {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
  }
}
@-moz-keyframes zoomOut {
  0% {
    opacity: 0;
    -moz-transform: scale3d(1.5, 1.5, 1.5);
  }
  50% {
    -moz-transform: scale3d(1, 1, 1);
  }
}
@keyframes zoomOut {
  0% {
    opacity: 0;
    transform: scale3d(1.5, 1.5, 1.5);
  }
  50% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes zoomOut1_2 {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
  }
}
@-moz-keyframes zoomOut1_2 {
  0% {
    opacity: 0;
    -moz-transform: scale3d(1.1, 1.1, 1.1);
  }
  50% {
    -moz-transform: scale3d(1, 1, 1);
  }
}
@keyframes zoomOut1_2 {
  0% {
    opacity: 0;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  50% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
.zoomOut {
  -webkit-animation-name: zoomOut;
  -moz-animation-name: zoomOut;
  animation-name: zoomOut;
}
.zoomOut1_2 {
  -webkit-animation-name: zoomOut1_2;
  -moz-animation-name: zoomOut1_2;
  animation-name: zoomOut1_2;
}
body {
  background-color: #f5f5f5;
  text-align: center;
  overflow: hidden;
  width: 100%;
  position: relative;
  font-family: 'lubalin_graphregular';
}
#kbc-wrap {
  height: 100%;
  overflow: hidden;
}
.news {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  animation-delay: 0.6s;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  -o-animation-duration: 5s;
  animation-duration: 5s;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-size: 0;
}
.news:before {
  content: '';
  display: inline-block;
  vertical-align: bottom;
  height: 100%;
}
.news .news-title {
  display: inline-block;
  vertical-align: bottom;
  background: #ffffff;
  border-radius: 25px;
  margin: 0 2.76% 45px;
  width: 94%;
  color: #003768;
  font: 16px 'lubalin_graphregular';
  line-height: 1.5;
  padding: 25px 0 23px;
}
@media (min-width: 768px) {
  .news .news-title {
    font-size: 54px;
    padding: 50px 0 46px;
  }
}
.page-promo {
  height: 100%;
  background-color: #f5f5f5;
  position: absolute;
  z-index: 9;
  width: 100%;
  text-align: center;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}
.page-promo:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin-right: -4px;
}
.page-promo .kbc-title {
  display: inline-block;
  vertical-align: middle;
  color: #0E4C82;
  margin: 0;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  -o-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
.overlay {
  position: absolute;
  left: -105%;
  height: 100%;
  width: 100%;
  z-index: 10;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: inherit;
  -moz-animation-fill-mode: inherit;
  -o-animation-fill-mode: inherit;
  animation-fill-mode: inherit;
}
.overlay .dark-overlay {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  z-index: 10;
  -webkit-animation-fill-mode: inherit;
  -moz-animation-fill-mode: inherit;
  -o-animation-fill-mode: inherit;
  animation-fill-mode: inherit;
  background-color: #0E4C82;
  -webkit-transform: skewX(10deg) skewY(0);
  -ms-transform: skewX(10deg) skewY(0);
  -o-transform: skewX(10deg) skewY(0);
  transform: skewX(10deg) skewY(0);
}
.overlay .light-overlay {
  position: absolute;
  left: -50%;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  -webkit-animation-fill-mode: inherit;
  -moz-animation-fill-mode: inherit;
  -o-animation-fill-mode: inherit;
  animation-fill-mode: inherit;
  background-color: #4FC3F7;
  -webkit-transform: skewX(10deg) skewY(0);
  -ms-transform: skewX(10deg) skewY(0);
  -o-transform: skewX(10deg) skewY(0);
  transform: skewX(10deg) skewY(0);
}
