/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  height: 100%;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeIn05 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .5;
  }
}
@-moz-keyframes fadeIn05 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .5;
  }
}
@-o-keyframes fadeIn05 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .5;
  }
}
@keyframes fadeIn05 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .5;
  }
}
@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -moz-transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -o-transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  -moz-animation-name: fadeInUpBig;
  -o-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}
@-webkit-keyframes zoomOut {
  0% {
    opacity: 1;
    transform: scale3d(100, 100, 100);
  }
  50% {
    transform: scale3d(1, 1, 1);
  }
}
@-moz-keyframes zoomOut {
  0% {
    opacity: 1;
    transform: scale3d(100, 100, 100);
  }
  50% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes zoomOut {
  0% {
    opacity: 1;
  }
  50% {
    transform: scale3d(1, 1, 1);
  }
}
.zoomOut {
  -webkit-animation-name: zoomOut;
  -moz-animation-name: zoomOut;
  animation-name: zoomOut;
}
@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slideInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slideInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -moz-transform: translateY(0);
  }
}
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -moz-animation-name: slideInUp;
}
@keyframes slideInUp50 {
  0% {
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes slideInUp50 {
  0% {
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
.slideInUp50 {
  -webkit-animation-name: slideInUp50;
  animation-name: slideInUp50;
}
@keyframes slideInUp500 {
  0% {
    opacity: 0;
    transform: translateY(500%);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slideInUp500 {
  0% {
    opacity: 0;
    transform: translateY(500%);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes slideInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(500%);
    visibility: visible;
  }
  100% {
    -moz-transform: translateY(0);
  }
}
.slideInUp500 {
  -webkit-animation-name: slideInUp500;
  animation-name: slideInUp500;
}
body {
  background: #ffffff;
  min-height: 1080px;
}
@media (max-width: 520px) {
  body {
    min-height: 630px;
  }
}
.clock-section {
  height: 60%;
  background-image: -webkit-linear-gradient(top, #22b5ee 0%, #1fb7f0 100%);
  background-image: -o-linear-gradient(top, #22b5ee 0%, #1fb7f0 100%);
  background-image: linear-gradient(to bottom, #22b5ee 0%, #1fb7f0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff22b5ee', endColorstr='#ff1fb7f0', GradientType=0);
  position: relative;
  overflow: hidden;
}
@media (max-width: 520px) {
  .clock-section {
    height: 57%;
  }
}
.clock-section .back-shadow {
  position: absolute;
  z-index: -1;
  top: 37px;
  text-align: center;
  left: 46px;
}
.clock-section .back-shadow img {
  max-width: inherit;
  -webkit-animation-duration: 2.5s;
  -moz-animation-duration: 2.5s;
  -o-animation-duration: 2.5s;
  animation-duration: 2.5s;
}
@media (max-width: 520px) {
  .clock-section .back-shadow img {
    width: 600px;
  }
}
.clock-section .clock {
  min-height: 518px;
  min-width: 518px;
  left: 50%;
  top: 50px;
  position: absolute;
  text-align: center;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
@media (max-width: 520px) {
  .clock-section .clock {
    min-height: 300px;
    min-width: 300px;
    top: 20px;
  }
}
.clock-section .clock .simple {
  border-radius: 50%;
  background: #fff;
  height: 518px;
  width: 518px;
  -webkit-animation-duration: 2.5s;
  -moz-animation-duration: 2.5s;
  -o-animation-duration: 2.5s;
  animation-duration: 2.5s;
}
.clock-section .clock .simple:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin-right: -4px;
}
@media (max-width: 520px) {
  .clock-section .clock .simple {
    max-height: 300px;
    max-width: 300px;
  }
}
.clock-section .clock .simple .shadow {
  background: url("images/clock-shadow.png") no-repeat 100% 100%;
  width: 472px;
  height: 410px;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  -o-animation-delay: 1.7s;
  animation-delay: 1.7s;
}
@media (max-width: 520px) {
  .clock-section .clock .simple .shadow {
    height: 250px;
    width: 273px;
    background-size: contain;
  }
}
.clock-section .clock .simple .dial {
  display: inline-block;
  vertical-align: middle;
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  -o-animation-delay: 1.7s;
  animation-delay: 1.7s;
  -webkit-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
  -o-animation-duration: 0.6s;
  animation-duration: 0.6s;
}
@media (max-width: 520px) {
  .clock-section .clock .simple .dial {
    width: 90%;
  }
}
.clock-section .clock .dot {
  background: #003768;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 55px;
  height: 55px;
  margin-left: -27.5px;
  margin-top: -27.5px;
  z-index: 10;
  -webkit-animation-duration: 0.08s;
  -moz-animation-duration: 0.08s;
  -o-animation-duration: 0.08s;
  animation-duration: 0.08s;
  -webkit-animation-delay: 2.11s;
  -moz-animation-delay: 2.11s;
  -o-animation-delay: 2.11s;
  animation-delay: 2.11s;
}
@media (max-width: 520px) {
  .clock-section .clock .dot {
    width: 26px;
    height: 26px;
    margin-left: -13px;
    margin-top: -13px;
  }
}
.clock-section .clock .minutes-container,
.clock-section .clock .hours-container,
.clock-section .clock .seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.clock-section .clock .minutes-container,
.clock-section .clock .hours-container {
  -webkit-animation-delay: 2.25s;
  -moz-animation-delay: 2.25s;
  -o-animation-delay: 2.25s;
  animation-delay: 2.25s;
  -webkit-animation-duration: 0.13s;
  -moz-animation-duration: 0.13s;
  -o-animation-duration: 0.13s;
  animation-duration: 0.13s;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  -o-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
.clock-section .clock .seconds-container {
  -webkit-animation-delay: 2.3s;
  -moz-animation-delay: 2.3s;
  -o-animation-delay: 2.3s;
  animation-delay: 2.3s;
  -webkit-animation-duration: 0.11s;
  -moz-animation-duration: 0.11s;
  -o-animation-duration: 0.11s;
  animation-duration: 0.11s;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  -o-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
.clock-section .clock .hours {
  background: #003768;
  height: 142px;
  left: 50%;
  position: absolute;
  bottom: 50%;
  transform-origin: 50% 100%;
  width: 17px;
  margin-left: -8.5px;
  border-radius: 5px;
}
@media (max-width: 520px) {
  .clock-section .clock .hours {
    height: 71px;
    width: 9px;
    margin-left: -4.5px;
  }
}
.clock-section .clock .minutes {
  background: #003768;
  height: 170px;
  left: 50%;
  position: absolute;
  bottom: 50%;
  transform-origin: 50% 100%;
  width: 14px;
  margin-left: -7px;
  border-radius: 5px;
}
@media (max-width: 520px) {
  .clock-section .clock .minutes {
    height: 85px;
    width: 7px;
    margin-left: -3.5px;
  }
}
.clock-section .clock .seconds {
  background: #0bb0ee;
  height: 180px;
  left: 50%;
  position: absolute;
  bottom: 50%;
  transform-origin: 50% 100%;
  width: 10px;
  margin-left: -5px;
  z-index: 8;
}
@media (max-width: 520px) {
  .clock-section .clock .seconds {
    height: 90px;
    width: 5px;
    margin-left: -2.5px;
  }
}
.clock-section .clock .hours-container {
  -webkit-transform: rotate(43200s infinite linear);
  -ms-transform: rotate(43200s infinite linear);
  -o-transform: rotate(43200s infinite linear);
  transform: rotate(43200s infinite linear);
}
.clock-section .clock .minutes-container {
  -webkit-transition: all 2s ease-in-out, transform 0.3s cubic-bezier(.4,2.08,.55,.44);
  -o-transition: all 2s ease-in-out, transform 0.3s cubic-bezier(.4,2.08,.55,.44);
  transition: all 2s ease-in-out, transform 0.3s cubic-bezier(.4,2.08,.55,.44);
}
.clock-section .clock .seconds-container {
  -webkit-transition: all 2s ease-in-out, transform 0.2s cubic-bezier(.4,2.08,.55,.44);
  -o-transition: all 2s ease-in-out, transform 0.2s cubic-bezier(.4,2.08,.55,.44);
  transition: all 2s ease-in-out, transform 0.2s cubic-bezier(.4,2.08,.55,.44);
}
.text-section {
  background: url("images/clock_bg.png") no-repeat 50% 0;
  color: #003768;
  text-align: center;
  line-height: 1.1;
  padding-top: 175px;
  margin-top: -143px;
  position: relative;
}
@media (max-width: 520px) {
  .text-section {
    margin-top: -65px;
    background-size: 950px;
    padding-top: 105px;
  }
}
.text-section .wrap {
  overflow: hidden;
}
.text-section .wrap-location {
  margin-bottom: 11px;
}
@media (min-width: 768px) {
  .text-section .wrap-location {
    margin-bottom: 21px;
  }
}
.text-section .location {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  font-family: 'lubalin_graph_bookregular';
  font-size: 20px;
  line-height: 1.28;
}
.text-section .location.location-first {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
}
.text-section .location.location-second {
  -webkit-animation-delay: 4.3s;
  -moz-animation-delay: 4.3s;
  -o-animation-delay: 4.3s;
  animation-delay: 4.3s;
}
@media (min-width: 768px) {
  .text-section .location {
    font-size: 34px;
  }
}
@media (min-width: 1200px) {
  .text-section .location {
    font-size: 54px;
  }
}
.text-section .wrap-time-large {
  margin-bottom: 21px;
}
@media (max-width: 480px) {
  .text-section .wrap-time-large {
    margin-bottom: 14px;
  }
}
@media (min-width: 768px) {
  .text-section .wrap-time-large {
    margin-bottom: 31px;
  }
}
.text-section .time-large {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  font-size: 25px;
  font-family: 'lubalin_graphregular';
}
@media (max-width: 480px) {
  .text-section .time-large span {
    display: block;
  }
}
@media (min-width: 768px) {
  .text-section .time-large {
    font-size: 54px;
  }
}
@media (min-width: 1200px) {
  .text-section .time-large {
    font-size: 74px;
  }
}
.text-section .time-normal {
  -webkit-animation-delay: 4.3s;
  -moz-animation-delay: 4.3s;
  -o-animation-delay: 4.3s;
  animation-delay: 4.3s;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  font-size: 23px;
  font-family: 'lubalin_graphregular';
}
@media (min-width: 768px) {
  .text-section .time-normal {
    font-size: 44px;
  }
}
@media (min-width: 1200px) {
  .text-section .time-normal {
    font-size: 64px;
  }
}
@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}
