@animationLessTime: 1s;
@lessLocation: '../../general/less-files';

@import "@{lessLocation}/normalize";
@import "@{lessLocation}/variables";
@import "@{lessLocation}/clearfix";
@import "@{lessLocation}/gradients";
@import "@{lessLocation}/responsive-visibility";
@import "@{lessLocation}/responsive-utilities";
@import "@{lessLocation}/vendor-prefixes";
@import "@{lessLocation}/opacity";
@import "@{lessLocation}/utilities";
@import "@{lessLocation}/scaffolding";
@import "@{lessLocation}/animation/animated";
@import "@{lessLocation}/animation/fadeIn";
@import "@{lessLocation}/animation/fadeInUpBig";
@import "@{lessLocation}/animation/zoomOutBig";
@import "@{lessLocation}/animation/slideInUp";

body{
  background: #ffffff;
  min-height: 1080px;
  @media (max-width: 520px) {
    min-height: 630px;
  }
}
.clock-section{
  height: 60%;
  #gradient > .vertical(#22b5ee, #1fb7f0);
  position: relative;
  overflow: hidden;
  @media (max-width: 520px) {
    height: 57%;
  }
  .back-shadow{
    position: absolute;
    z-index: -1;
    top: 37px;
    text-align: center;
    left: 46px;
    img{
      max-width: inherit;
      .animation-duration(2.5s);
      @media (max-width: 520px) {
        width: 600px;
      }
    }
  }
  .clock {
    min-height: 518px;
    min-width: 518px;
    left: 50%;
    top: 50px;
    position: absolute;
    text-align: center;
    .translate(-50%; 0);
    @media (max-width: 520px) {
      min-height: 300px;
      min-width: 300px;
      top: 20px;
    }
    .simple{
      border-radius: 50%;
      background: #fff;
      height: 518px;
      width: 518px;
      .animation-duration(2.5s);
      &:before{
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        margin-right: -4px;
      }
      @media (max-width: 520px) {
        max-height: 300px;
        max-width: 300px;
      }
      .shadow{
        background: url("images/clock-shadow.png") no-repeat 100% 100%;
        width: 472px;
        height: 410px;
        position: absolute;
        right: 0;
        bottom: 0;
        .animation-delay(1.7s);
        @media (max-width: 520px) {
          height: 250px;
          width: 273px;
          background-size: contain;
        }
      }
      .dial {
        display: inline-block;
        vertical-align: middle;
        .animation-delay(1.7s);
        .animation-duration(.6s);
        @media (max-width: 520px) {
          width: 90%;
        }
      }
    }
    .dot{
      background: #003768;
      border-radius: 50%;
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 55px;
      height: 55px;
      margin-left: -27.5px;
      margin-top: -27.5px;
      z-index: 10;
      .animation-duration(.08s);
      .animation-delay(2.11s);
      @media (max-width: 520px) {
        width: 26px;
        height: 26px;
        margin-left: -13px;
        margin-top: -13px;
      }
    }
    .minutes-container, .hours-container, .seconds-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .minutes-container, .hours-container {
      .animation-delay(2.25s);
      .animation-duration(.13s);
      .animation-fill-mode(backwards);
    }
    .seconds-container {
      .animation-delay(2.30s);
      .animation-duration(.11s);
      .animation-fill-mode(backwards);
    }
    .hours {
      background: #003768;
      height: 142px;
      left: 50%;
      position: absolute;
      bottom: 50%;
      transform-origin: 50% 100%;
      width: 17px;
      margin-left: -8.5px;
      border-radius: 5px;
      @media (max-width: 520px) {
        height: 71px;
        width: 9px;
        margin-left: -4.5px;
      }
    }
    .minutes {
      background: #003768;
      height: 170px;
      left: 50%;
      position: absolute;
      bottom: 50%;
      transform-origin: 50% 100%;
      width: 14px;
      margin-left: -7px;
      border-radius: 5px;
      @media (max-width: 520px) {
        height: 85px;
        width: 7px;
        margin-left: -3.5px;
      }
    }
    .seconds {
      background: #0bb0ee;
      height: 180px;
      left: 50%;
      position: absolute;
      bottom: 50%;
      transform-origin: 50% 100%;
      width: 10px;
      margin-left: -5px;
      z-index: 8;
      @media (max-width: 520px) {
        height: 90px;
        width: 5px;
        margin-left: -2.5px;
      }
    }
    .hours-container {
      .rotate(43200s infinite linear);
    }
    .minutes-container {
      .transition(~'all 2s ease-in-out, transform 0.3s cubic-bezier(.4,2.08,.55,.44)');
    }
    .seconds-container {
      .transition(~'all 2s ease-in-out, transform 0.2s cubic-bezier(.4,2.08,.55,.44)');
    }
  }
}
.text-section {
  background:  url("images/clock_bg.png") no-repeat 50% 0;
  color: #003768;
  text-align: center;
  line-height: 1.1;
  padding-top: 175px;
  margin-top: -143px;
  position: relative;
  @media (max-width: 520px) {
    margin-top: -65px;
    background-size: 950px;
    padding-top: 105px;
  }
  .wrap {
    overflow: hidden;
  }
  .wrap-location {
    margin-bottom: 11px;
    @media (min-width: @screen-sm-min) {
      margin-bottom: 21px;
    }
  }
  .location {
    &.location-first {
      .animation-delay(4s);
    }
    &.location-second {
      .animation-delay(4.3s);
    }
    .animation-duration(.5s);
    font-family: 'lubalin_graph_bookregular';
    font-size: 20px;
    @media (min-width: @screen-sm-min) {
      font-size: 34px;
    }
    @media (min-width: @screen-lg-min) {
      font-size: 54px;
    }
    line-height: 1.28;
  }
  .wrap-time-large{
    margin-bottom: 21px;
    @media (max-width: @screen-xs-min) {
      margin-bottom: 14px;
    }
    @media (min-width: @screen-sm-min) {
      margin-bottom: 31px;
    }
  }
  .time-large{
    .animation-delay(4s);
    .animation-duration(.5s);
    font-size: 25px;
    font-family: 'lubalin_graphregular';
    @media (max-width: @screen-xs-min) {
      span{
        display: block;
      }
    }
    @media (min-width: @screen-sm-min) {
      font-size: 54px;
    }
    @media (min-width: @screen-lg-min) {
      font-size: 74px;
    }
  }
  .time-normal{
    .animation-delay(4.3s);
    .animation-duration(.5s);
    font-size: 23px;
    font-family: 'lubalin_graphregular';
    @media (min-width: @screen-sm-min) {
      font-size: 44px;
    }
    @media (min-width: @screen-lg-min) {
      font-size: 64px;
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}