@animationLessTime: 1s;
@lessLocation: '../../general/less-files';

@import '@{lessLocation}/normalize';
@import '@{lessLocation}/variables';
@import '@{lessLocation}/clearfix';
@import '@{lessLocation}/responsive-visibility';
@import '@{lessLocation}/responsive-utilities';
@import '@{lessLocation}/vendor-prefixes';
@import '@{lessLocation}/opacity';
@import '@{lessLocation}/utilities';
@import '@{lessLocation}/scaffolding';

@import '@{lessLocation}/animation/animated.less';
@import '@{lessLocation}/animation/zoomIn.less';
@import '@{lessLocation}/animation/slideInUp.less';
@import '@{lessLocation}/animation/slideOutDown.less';
@import '@{lessLocation}/animation/fadeIn.less';
@import '@{lessLocation}/animation/slideInRight.less';
@import '@{lessLocation}/animation/slideInDown.less';

@import '@{lessLocation}/animation/logoAnim.less';

body {
  text-align: center;
  font-family: 'BebasNeueBold';
  overflow: hidden;
  position: relative;
  height: auto;
  min-height: 100%;
}
.start-screen {
  background: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  .animation-delay(3.15s);
  &:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  .text{
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
  }
  .logo-section{
    margin: 0 auto 46px;
    width: @sign-x/3.3;
    height: @sign-y/3.3;
    position: relative;
    @media (min-width: 500px) {
      width: @sign-x/2.5;
      height: @sign-y/2.5;
    }
    @media (min-width: 960px) {
      width: @sign-x;
      height: @sign-y;
    }
    .logo{
      display: block;
      margin: 0 auto;
      width: @sign-x/3.3;
      height: @sign-y/3.3;
      background: url("images/logo-animation.png") 0 0 no-repeat;
      .animation(sign-anim @sign-duration .5s steps(@sign-frames) forwards);
      background-size: (@sign-x/3.3) auto;
      @media (min-width: 480px) {
        background-size: (@sign-x/2.5) auto;
        width: @sign-x/2.5;
        height: @sign-y/2.5;
      }
      @media (min-width: 960px) {
        background-size: 100% auto;
        width: @sign-x;
        height: @sign-y;
      }
    }
    .logo-kbc {
      position: absolute;
      right: 0;
      top: 0;
      max-width: 30%;
      text-align: right;
      .animation-delay(1.15s);
      @media (min-width: 960px) {
        max-width: 100%;
      }
    }
  }
  .slogan{
    text-align: center;
    font-size: 60px;
    color: #FF5D3B;
    .animation-delay(1.27s);
    @media (min-width: @screen-sm-min) {
      font-size: 171px;
    }
  }
}
.footer{
  content: '';
  display: block;
  width: 100%;
  height: 30px;
  background: #30c576;
  position: absolute;
  //left: -4px;
  right: 0;
  bottom: 0;
  z-index: 15;
}
.profiles{
  min-height: 100%;
  padding-bottom: 30px;
  margin-left: 4px;
  z-index: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  /*
  &:after {
    content: '';
    display: block;
    height: 30px;
    background: #30c576;
    position: absolute;
    left: -4px;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
  */
  .item{
    width: 33.333%;
    max-width: 180px;
    max-height: 180px;
    -webkit-flex: auto;
    flex: auto;
    margin-left: -4px;
    background: #672619;
    overflow: hidden;
    @media (min-width: @screen-sm-min) {
      width: 20%;
    }
    @media (min-width: @screen-md-min) {
      width: 9.09%;
    }
  }
  .shadow{
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(0,0,0,.3);
    .animation-delay(4s);
  }
  .popup{
    overflow: hidden;
    position: static;
    z-index: 9;
    .animation-delay(4.1s);
    .animation-duration(2s);
    .animation-fill-mode(forwards);
    .transition(all 2s ease);
    &.active{
      .translate(-50%, -50%);
      position: absolute;
      z-index: 10;
      left: 50%;
      top: 50%;
      width: 96%;
      max-width: 1344px;
      @media (min-width: @screen-sm-min) {
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: flex;

        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        justify-content: flex-start;
        -webkit-justify-content: flex-start;
        img {
          -webkit-flex: auto;
          flex: auto;
          width: 37%;
          height: 100%;
        }
      }
      .content {
        display: block;
      }
    }
    img{
      position: relative;
      z-index: 5;
    }
    .content{
      display: none;
      position: relative;
      z-index: 4;
      background: #00a8ec;
      color: #ffffff;
      .animation-delay(3.2s);
      .animation-duration(1s);
      text-align: left;
      padding: 24px 10px 0 26px;
      @media (max-width: @screen-xs-max) {
        .animation-name(slideInDown);
      }
      @media (min-width: @screen-sm-min) {
        padding: 47px 20px 0 53px;
        width: 63%;
        .animation-name(slideInRight);
      }
      h1{
        .animation-delay(3.5s);
        font-size: 33.2px;
        margin: 0;
        line-height: 1;
        @media (min-width: @screen-sm-min) {
          font-size: 83.2px;
        }
      }
      h2{
        .animation-delay(3.8s);
        font-size: 26.3px;
        margin: 0 0 13px;
        line-height: 1;
        font-weight: normal;
        @media (min-width: @screen-sm-min) {
          font-size: 76.3px;
          margin: 0 0 33px;
        }
      }
      p{
        .animation-delay(4s);
        font-size: 15px;
        font-family: Muli;
        margin: 0;
        line-height: 1.2;
        @media (min-width: @screen-sm-min) {
          font-size: 50px;
        }
      }
      .web{
        .animation-delay(4.3s);
        font-size: 20px;
        margin: 10px 0 0;
        line-height: 1;
        @media (min-width: @screen-sm-min) {
          font-size: 61px;
          margin: 50px 0 0;
        }
      }
    }
  }
}

