@animationLessTime: 1s;
@lessLocation: '../../general/less-files';

@shadowColor: #ccc;
@shadowSize: 500;
@shadowSpread: 1;

@import '@{lessLocation}/normalize';
@import '@{lessLocation}/variables';
@import '@{lessLocation}/clearfix';
@import '@{lessLocation}/responsive-visibility';
@import '@{lessLocation}/responsive-utilities';
@import '@{lessLocation}/vendor-prefixes';
@import '@{lessLocation}/opacity';
@import '@{lessLocation}/utilities';
@import '@{lessLocation}/scaffolding';
@import '@{lessLocation}/long-shadow.less';

@import '@{lessLocation}/animation/animated.less';
@import '@{lessLocation}/animation/zoomIn.less';
@import '@{lessLocation}/animation/slideInUp.less';
@import '@{lessLocation}/animation/rotateInUpLeftZoomIn.less';
@import '@{lessLocation}/animation/zoomOut.less';

::-webkit-scrollbar {
  display: none;
}
body {
  background-color: #f5f5f5;
  text-align: center;
  font-family: 'Muli';
}
//html, body{
//  overflow: hidden;
//  width: 100%;
//  position:relative;
//}
#kbc-wrap {
  min-height: 100%;
  height: 100%;
  font-size: 0;
  &:before{
    content: '';
    display: inline-block;
    vertical-align: bottom;
    height: 100%;
  }
  .social{
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    .animation-delay(4s);
    //padding: 100px 0 0;
    @media (min-width: @screen-sm-min) {
      //padding: 156px 0 0;
    }
  }
}

.kbc-logo {
  margin-bottom: 27px;
  position: absolute;
  top: 9px;
  left: 50%;
  .translate(-50%, 0);
  @media (min-width: @screen-sm-min) {
    top: 65px;
  }
  img {
    .animation-delay(.7s);
    .animation-duration(.3s);
  }
}
.kbc-social {
  .animation-delay(2s);
  .animation-duration(1s);
  width: 98%;
  min-height: 648px;
  margin: 15px auto 0;
  border-radius: 15px;
  //padding: 15px 10px 20px;
  padding: 15px;
  position: relative;
  text-align: center;
  z-index: 10;
  @media (min-width: @screen-sm-min) {
    //padding: 45px 35px 60px;
    padding: 40px;
    border-radius: 30px;
    margin: 30px auto 0;
    width: 88.7%;
  }
  @media (min-width: @screen-md-min) {
    //padding: 90px 70px 111px;
    padding: 70px;
  }
  &.twitter {
    background-color: #55ACEE;
    .arrow {
      border-top-color: #55ACEE;
    }
  }
  &.facebook {
    background-color: #365493;
    .arrow {
      border-top-color: #365493;
    }
  }
  &.instagram {
    background-color: #795548;
    .arrow {
      border-top-color: #795548;
    }
  }
  .photo {
    display: block;
    float: left;
    margin-right: 70px;
    border-radius: 30px;
    height: 50%;
  }
  .content{
    padding-top: 30px;
    &.pushed{
      overflow: hidden;
      text-align: left;
    }
  }
  .head {
    display: inline-block;
    margin-bottom: 50px;
    .avatar {
      display: block;
      border-radius: 50%;
      margin: 0 auto;
      max-width: 100px;
      @media (min-width: @screen-sm-min) {
        margin-right: 20px;
        float: left;
      }
      @media (min-width: @screen-md-min) {
        max-width: 162px;
      }
    }
    > div {
      overflow: hidden;
    }
    h3, p {
      color: #fff;
      @media (min-width: @screen-sm-min) {
        text-align: left;
      }
    }
    h3 {
      font-size: 33px;
      margin-top: 20px;
      margin-bottom: 10px;
      @media (min-width: @screen-md-min) {
        font-size: 53px;
      }
    }
    p {
      font-size: 22px;
      margin-top: 0;
      margin-bottom: 0;
      @media (min-width: @screen-md-min) {
        font-size: 42px;
      }
    }
  }
  .text {
    color: #fff;
    font-size: 25px;
    @media (min-width: @screen-md-min) {
      font-size: 52px;
    }
  }
  .arrow {
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-top: 70px solid;
    position: absolute;
    left: 162px;
    bottom: -18px;
    .rotate(-60deg);
    z-index: -1;
    @media (min-width: @screen-sm-min) {
      left: 273px;
    }
    @media (min-width: @screen-md-min) {
      left: 25%;
      border-left-width: 100px;
      border-right-width: 100px;
    }
  }
}
.footer {
  width: 97%;
  padding: 37px 0 0;
  margin: 10px  auto 0;
  text-align: left;
  font-size: 23px;
  @media (min-width: @screen-sm-min) {
    width: 82.45%;
    font-size: 48px;
  }
  @media (min-width: @screen-md-min) {
    font-size: 38px;
  }
  &.twitter {
    color: #55ACEE;
  }
  &.facebook {
    color: #365493;
  }
  &.instagram {
    color: #795548;
  }
  .follow {
    .animation-delay(1s);
    .animation-duration(0.3s);
    display: inline-block;
    letter-spacing: 3.5px;
  }
  img {
    .animation-delay(1.2s);
    .animation-duration(0.3s);
    vertical-align: middle;
    font-size: 60px;
    .longShadow(#EBEBEB, 200, 25);
    margin: 0 0 0 8px;
    line-height: 1;
    @media (min-width: @screen-sm-min) {
      font-size: 80px;
      margin: 0 0 0 27px;
    }
    @media (min-width: @screen-md-min) {
      font-size: 130px;
    }
  }
  .account {
    .animation-delay(1.4s);
    .animation-duration(0.3s);
    display: inline-block;
    position: relative;
    font-size: 20px;
    letter-spacing: 3.5px;
    @media (min-width: @screen-sm-min) {
      font-size: 32px;
    }
    @media (min-width: @screen-md-min) {
      font-size: 42px;
    }
  }
}
.footer.facebook {
  img {
    width: 147px;
    margin-right: 35px;
  }
}