/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  height: 100%;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
/*!
 * Less Long Shadow v1.0
 *
 * Open sourced under MIT license by @zensimilia.
 */
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInDown {
  0% {
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes slideInDown {
  0% {
    -moz-transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@-o-keyframes slideInDown {
  0% {
    -o-transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -o-transform: translateY(0);
  }
}
@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    transform: translateY(0);
  }
}
.slideInDown {
  -webkit-animation-name: slideInDown;
  -moz-animation-name: slideInDown;
  -o-animation-name: slideInDown;
  animation-name: slideInDown;
}
@-webkit-keyframes slideInDownLarge {
  0% {
    transform: translateY(-300%);
    visibility: visible;
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes slideInDownLarge {
  0% {
    -moz-transform: translateY(-300%);
    visibility: visible;
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@-o-keyframes slideInDownLarge {
  0% {
    -o-transform: translateY(-300%);
    visibility: visible;
  }
  100% {
    -o-transform: translateY(0);
  }
}
@keyframes slideInDownLarge {
  0% {
    transform: translateY(-300%);
    visibility: visible;
  }
  100% {
    transform: translateY(0);
  }
}
.slideInDownLarge {
  -webkit-animation-name: slideInDownLarge;
  -moz-animation-name: slideInDownLarge;
  -o-animation-name: slideInDownLarge;
  animation-name: slideInDownLarge;
}
@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slideInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slideInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -moz-transform: translateY(0);
  }
}
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -moz-animation-name: slideInUp;
}
@keyframes slideInUp50 {
  0% {
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes slideInUp50 {
  0% {
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
.slideInUp50 {
  -webkit-animation-name: slideInUp50;
  animation-name: slideInUp50;
}
@keyframes slideInUp500 {
  0% {
    opacity: 0;
    transform: translateY(500%);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slideInUp500 {
  0% {
    opacity: 0;
    transform: translateY(500%);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes slideInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(500%);
    visibility: visible;
  }
  100% {
    -moz-transform: translateY(0);
  }
}
.slideInUp500 {
  -webkit-animation-name: slideInUp500;
  animation-name: slideInUp500;
}
@keyframes slideInRight {
  0% {
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes slideInRight {
  0% {
    -moz-transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@-o-keyframes slideInRight {
  0% {
    -o-transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -o-transform: translateX(0);
  }
}
.slideInRight {
  animation-name: slideInRight;
  -webkit-animation-name: slideInRight;
}
@-webkit-keyframes slideInOutRight {
  100% {
    left: 200%;
  }
}
@-moz-keyframes slideInOutRight {
  100% {
    left: 200%;
  }
}
@-o-keyframes slideInOutRight {
  100% {
    left: 200%;
  }
}
@keyframes slideInOutRight {
  100% {
    left: 200%;
  }
}
.slideInOutRight {
  -webkit-animation-name: slideInOutRight;
  -moz-animation-name: slideInOutRight;
  -o-animation-name: slideInOutRight;
  animation-name: slideInOutRight;
}
@-webkit-keyframes slideInOutRight2 {
  100% {
    left: 50%;
  }
}
@-moz-keyframes slideInOutRight2 {
  100% {
    left: 50%;
  }
}
@-o-keyframes slideInOutRight2 {
  100% {
    left: 50%;
  }
}
@keyframes slideInOutRight2 {
  100% {
    left: 50%;
  }
}
@media (min-width: 768px) {
  @-webkit-keyframes slideInOutRight2 {
    100% {
      left: 66%;
    }
  }
  @-moz-keyframes slideInOutRight2 {
    100% {
      left: 66%;
    }
  }
  @-o-keyframes slideInOutRight2 {
    100% {
      left: 66%;
    }
  }
  @keyframes slideInOutRight2 {
    100% {
      left: 66%;
    }
  }
}
.slideInOutRight2 {
  -webkit-animation-name: slideInOutRight2;
  -moz-animation-name: slideInOutRight2;
  -o-animation-name: slideInOutRight2;
  animation-name: slideInOutRight2;
}
@-webkit-keyframes slideInOutRight3 {
  100% {
    left: -20%;
  }
}
@-moz-keyframes slideInOutRight3 {
  100% {
    left: -20%;
  }
}
@-o-keyframes slideInOutRight3 {
  100% {
    left: -20%;
  }
}
@keyframes slideInOutRight3 {
  100% {
    left: -20%;
  }
}
@media (min-width: 768px) {
  @-webkit-keyframes slideInOutRight3 {
    100% {
      left: -10%;
    }
  }
  @-moz-keyframes slideInOutRight3 {
    100% {
      left: -10%;
    }
  }
  @-o-keyframes slideInOutRight3 {
    100% {
      left: -10%;
    }
  }
  @keyframes slideInOutRight3 {
    100% {
      left: -10%;
    }
  }
}
.slideInOutRight3 {
  -webkit-animation-name: slideInOutRight3;
  -moz-animation-name: slideInOutRight3;
  -o-animation-name: slideInOutRight3;
  animation-name: slideInOutRight3;
}
@-webkit-keyframes slideInOutRight4 {
  100% {
    left: -5%;
  }
}
@-moz-keyframes slideInOutRight4 {
  100% {
    left: -5%;
  }
}
@-o-keyframes slideInOutRight4 {
  100% {
    left: -5%;
  }
}
@keyframes slideInOutRight4 {
  100% {
    left: -5%;
  }
}
@media (min-width: 768px) {
  @-webkit-keyframes slideInOutRight4 {
    100% {
      left: 0;
    }
  }
  @-moz-keyframes slideInOutRight4 {
    100% {
      left: 0;
    }
  }
  @-o-keyframes slideInOutRight4 {
    100% {
      left: 0;
    }
  }
  @keyframes slideInOutRight4 {
    100% {
      left: 0;
    }
  }
}
.slideInOutRight4 {
  -webkit-animation-name: slideInOutRight4;
  -moz-animation-name: slideInOutRight4;
  -o-animation-name: slideInOutRight4;
  animation-name: slideInOutRight4;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut;
}
@keyframes scaleIn {
  0% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes scaleIn {
  0% {
    -webkit-transform: scale(0, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
}
@-moz-keyframes scaleIn {
  0% {
    -moz-transform: scale(0, 1);
  }
  100% {
    -moz-transform: scale(1, 1);
  }
}
@-o-keyframes scaleIn {
  0% {
    -o-transform: scale(0, 1);
  }
  100% {
    -o-transform: scale(1, 1);
  }
}
.scaleIn {
  animation-name: scaleIn;
  -webkit-animation-name: scaleIn;
  -moz-animation-name: scaleIn;
  -o-animation-name: scaleIn;
}
body {
  background-color: #f5f5f5;
  font-family: 'lubalin_graphregular';
}
html,
body {
  overflow: hidden;
  width: 100%;
  position: relative;
}
#kbc-wrap {
  height: 100%;
}
.weather {
  height: 100%;
  width: 53%;
  position: relative;
  z-index: 12;
  left: -100%;
  -webkit-transform: skewX(-13deg) skewY(0);
  -ms-transform: skewX(-13deg) skewY(0);
  -o-transform: skewX(-13deg) skewY(0);
  transform: skewX(-13deg) skewY(0);
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
  -o-animation-delay: 3.5s;
  animation-delay: 3.5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background: #ffffff;
}
@media (min-width: 768px) {
  .weather {
    width: 55%;
  }
}
@media (min-width: 992px) {
  .weather {
    width: 62%;
  }
}
.page-promo {
  height: 100%;
  background-color: #f5f5f5;
  position: absolute;
  z-index: 9;
  width: 100%;
  text-align: center;
  -webkit-animation-delay: 3.2s;
  -moz-animation-delay: 3.2s;
  -o-animation-delay: 3.2s;
  animation-delay: 3.2s;
  -webkit-animation-duration: 0.1s;
  -moz-animation-duration: 0.1s;
  -o-animation-duration: 0.1s;
  animation-duration: 0.1s;
}
.page-promo:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin-right: -4px;
}
.page-promo .kbc-title {
  display: inline-block;
  vertical-align: middle;
  font-size: 54px;
  text-transform: uppercase;
  color: #0E4C82;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  -o-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
.dark-overlay {
  position: absolute;
  left: -250%;
  top: 0;
  height: 100%;
  width: 200%;
  z-index: 10;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  -o-animation-delay: 2.5s;
  animation-delay: 2.5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background-color: #0E4C82;
  -webkit-transform: skewX(-10deg) skewY(0);
  -ms-transform: skewX(-10deg) skewY(0);
  -o-transform: skewX(-10deg) skewY(0);
  transform: skewX(-10deg) skewY(0);
}
.light-overlay {
  position: absolute;
  left: -200%;
  top: 0;
  height: 100%;
  width: 150%;
  z-index: 11;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 2.9s;
  -moz-animation-delay: 2.9s;
  -o-animation-delay: 2.9s;
  animation-delay: 2.9s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background-color: #00adee;
  -webkit-transform: skewX(-10deg) skewY(0);
  -ms-transform: skewX(-10deg) skewY(0);
  -o-transform: skewX(-10deg) skewY(0);
  transform: skewX(-10deg) skewY(0);
}
.weather-box {
  position: absolute;
  left: 2%;
  top: 50%;
  width: 42.7%;
  z-index: 12;
  color: #ffffff;
  text-align: left;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
@media (min-width: 768px) {
  .weather-box {
    left: 5%;
  }
}
@media (min-width: 992px) {
  .weather-box {
    left: 10%;
  }
}
.weather-box .title {
  font-size: 16px;
  color: #00ADEE;
  -webkit-animation-delay: 5.7s;
  -moz-animation-delay: 5.7s;
  -o-animation-delay: 5.7s;
  animation-delay: 5.7s;
  line-height: 1.1;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .weather-box .title {
    font-size: 50px;
    margin-bottom: 25px;
  }
}
@media (min-width: 992px) {
  .weather-box .title {
    font-size: 90px;
    margin-bottom: 75px;
  }
}
.weather-box .img {
  float: left;
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
  margin-right: 5px;
}
@media (min-width: 768px) {
  .weather-box .img {
    margin-right: 25px;
  }
}
@media (min-width: 992px) {
  .weather-box .img {
    margin-right: 95px;
  }
}
.weather-box .img img {
  max-width: 50px;
}
@media (min-width: 768px) {
  .weather-box .img img {
    max-width: 100px;
  }
}
@media (min-width: 992px) {
  .weather-box .img img {
    max-width: 100%;
  }
}
.weather-box .content {
  overflow: hidden;
  font-size: 14px;
  color: #003768;
}
@media (min-width: 768px) {
  .weather-box .content {
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  .weather-box .content {
    font-size: 88px;
  }
}
.weather-box .content .deg {
  font-size: 20px;
  color: #00ADEE;
  line-height: 1.1;
}
@media (min-width: 768px) {
  .weather-box .content .deg {
    font-size: 80px;
  }
}
@media (min-width: 992px) {
  .weather-box .content .deg {
    font-size: 180px;
  }
}
.weather-box .content .animated {
  -webkit-animation-delay: 5.7s;
  -moz-animation-delay: 5.7s;
  -o-animation-delay: 5.7s;
  animation-delay: 5.7s;
}
.weather-box .content p {
  margin: 0;
  line-height: 1.05;
}
.secondary-weather-box {
  position: absolute;
  right: 0;
  top: 70%;
  width: 60%;
  z-index: 12;
  color: #ffffff;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  overflow: hidden;
}
@media (min-width: 768px) {
  .secondary-weather-box {
    top: 50%;
    width: 40%;
  }
}
@media (min-width: 992px) {
  .secondary-weather-box {
    width: 29%;
  }
}
.secondary-weather-box .secondary-weather {
  text-align: center;
}
.secondary-weather-box .secondary-weather .title {
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .secondary-weather-box .secondary-weather .title {
    font-size: 34px;
    margin-bottom: 15px;
    margin-top: 5px;
  }
}
@media (min-width: 992px) {
  .secondary-weather-box .secondary-weather .title {
    font-size: 54px;
    margin-bottom: 30px;
    margin-top: 10px;
  }
}
.secondary-weather-box .secondary-weather .deg {
  font-size: 30px;
  line-height: 1.2;
  font-family: 'lubalin_graph_bookregular';
  font-weight: 400;
}
@media (min-width: 768px) {
  .secondary-weather-box .secondary-weather .deg {
    font-size: 86px;
  }
}
@media (min-width: 992px) {
  .secondary-weather-box .secondary-weather .deg {
    font-size: 126px;
  }
}
.secondary-weather-box .secondary-weather .img {
  width: 50px;
  height: 50px;
  font-size: 0;
  text-align: center;
  margin: 0 auto 10px;
}
@media (min-width: 768px) {
  .secondary-weather-box .secondary-weather .img {
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 992px) {
  .secondary-weather-box .secondary-weather .img {
    width: 162px;
    height: 162px;
  }
}
.secondary-weather-box .secondary-weather .img:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.secondary-weather-box .secondary-weather .img img {
  display: inline-block;
  vertical-align: middle;
}
.secondary-weather-box .secondary-weather.slideInDownLarge {
  -webkit-animation-delay: 6.5s;
  -moz-animation-delay: 6.5s;
  -o-animation-delay: 6.5s;
  animation-delay: 6.5s;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.secondary-weather-box .secondary-weather.slideInDownLarge:first-child {
  -webkit-animation-delay: 7s;
  -moz-animation-delay: 7s;
  -o-animation-delay: 7s;
  animation-delay: 7s;
}
.secondary-weather-box .sep {
  max-width: 352px;
  width: 80%;
  height: 4px;
  margin: 6px auto 10px;
  background: #0186c3;
  -webkit-animation-delay: 6.8s;
  -moz-animation-delay: 6.8s;
  -o-animation-delay: 6.8s;
  animation-delay: 6.8s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}
@media (min-width: 768px) {
  .secondary-weather-box .sep {
    height: 8px;
    margin: 60px auto 60px;
  }
}
