@animationLessTime: 1s;
@lessLocation: '../../general/less-files';

@shadowColor: #ccc;
@shadowSize: 500;
@shadowSpread: 1;

@import '@{lessLocation}/normalize';
@import '@{lessLocation}/variables';
@import '@{lessLocation}/clearfix';
@import '@{lessLocation}/responsive-visibility';
@import '@{lessLocation}/responsive-utilities';
@import '@{lessLocation}/vendor-prefixes';
@import '@{lessLocation}/opacity';
@import '@{lessLocation}/utilities';
@import '@{lessLocation}/scaffolding';

@import '@{lessLocation}/animation/animated.less';
@import '@{lessLocation}/animation/zoomIn.less';
@import '@{lessLocation}/animation/slideInUp.less';
@import '@{lessLocation}/animation/slideInUpLeft.less';
@import '@{lessLocation}/animation/slideOutDownRight.less';

body {
  background-color: #f5f5f5;
  text-align: center;
  font-family: 'BebasNeueBold';
}
html, body{
  overflow: hidden;
  width: 100%;
  position:relative;
}
#kbc-wrap {
  padding: 65px 0 0;
}

.kbc-events {
  text-align: center;
}

.kbc-logo {
  margin-bottom: 27px;
  img {
    .animation-delay(.7s);
    .animation-duration(.3s);
  }
}

.kbc-title {
  overflow: hidden;
  margin-bottom: 70px;
  h1 {
    margin: 0;
    color: #0E4C82;
    .animation-delay(1s);
    .animation-duration(500ms);
    font-size: 41px;
    @media (min-width: @screen-sm-min) {
      font-size: 82px;
    }
    @media (min-width: @screen-md-min) {
      font-size: 123px;
    }
    @media (min-width: @screen-lg-min) {
      font-size: 151px;
    }
  }
}

.kbc-events-content {
  position: absolute;
  //bottom: 0;
  left: 6.02%;
  right: 2.38%;
  width: 88.6%;
  .event {
    background-color: #ebebeb;
    //.animation-delay(1s);
    //overflow: hidden;
    .right-shadow {
      background: #e1e1e1;
      width: 2.3%;
      content: '';
      position: absolute;
      top: 0;
      left: 100%;
      bottom: 0;
      .skew(0; 45deg);
      .transform-origin(0 0);
    }
    .bottom-shadow {
      background: #cbcbcb;
      width: 100%;
      height: 50%;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      .skew(45deg; 0);
      .transform-origin(0 0);
    }

    .event-photo {
      float: left;
      width: 36%;
      max-width: 603px;
      border-right: 10px solid #23c673;
    }

    .event-body {
      text-align: left;
      height: 100%;
      overflow: hidden;
    }

    .event-date {
      display: inline-block;
      background-color: #23c673;
      padding: 10px 40px;
      color: #fff;
      font-size: 70px;
    }

    .event-title {
      padding: 15px 10px 10px 55px;
      color: #003366;
      font-size: 96px;
    }
  }
}
