@animationLessTime: 1s;
@lessLocation: '../../general/less-files';

@import '@{lessLocation}/normalize';
@import '@{lessLocation}/variables';
@import '@{lessLocation}/clearfix';
@import '@{lessLocation}/responsive-visibility';
@import '@{lessLocation}/responsive-utilities';
@import '@{lessLocation}/vendor-prefixes';
@import '@{lessLocation}/opacity';
@import '@{lessLocation}/utilities';
@import '@{lessLocation}/scaffolding';

@import '@{lessLocation}/long-shadow.less';

@import '@{lessLocation}/animation/animated.less';
@import '@{lessLocation}/animation/slideInUp.less';
@import '@{lessLocation}/animation/slideInRight.less';
@import '@{lessLocation}/animation/slideInOutRight.less';
@import '@{lessLocation}/animation/fadeOut.less';
@import '@{lessLocation}/animation/zoomOutMiddle.less';


body {
  background-color: #f5f5f5;
  text-align: center;
  overflow: hidden;
  width: 100%;
  position:relative;
  font-family: 'lubalin_graphregular';
}

#kbc-wrap {
  height: 100%;
  overflow: hidden;
}

.news{
  .animation-delay(0.6s);
  .animation-duration(5s);
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-size: 0;
  &:before{
    content: '';
    display: inline-block;
    vertical-align: bottom;
    height: 100%;
  }
  .news-title{
    display: inline-block;
    vertical-align: bottom;
    background: #ffffff;
    border-radius: 25px;
    margin: 0 2.76% 45px;
    width: 94%;
    color: #003768;
    font: 16px 'lubalin_graphregular';
    line-height: 1.5;
    padding: 25px 0 23px;
    @media (min-width: @screen-sm-min) {
      font-size: 54px;
      padding: 50px 0 46px;
    }
  }
}

.page-promo {
  height: 100%;
  background-color: #f5f5f5;
  position: absolute;
  z-index: 9;
  width: 100%;
  text-align: center;
  .animation-delay(3s);
  .animation-duration(1s);
  &:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-right: -4px;
  }
  .kbc-title {
    display: inline-block;
    vertical-align: middle;
    color: #0E4C82;
    margin: 0;
    .animation-duration(1s);
    .animation-delay(0.25s);
  }
}

.overlay {
  position: absolute;
  left: -105%;
  height: 100%;
  width: 100%;
  z-index: 10;
  .animation-duration(3s);
  .animation-fill-mode(inherit);
  .dark-overlay {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
    z-index: 10;
    //.animation-duration(2s);
    //.animation-delay(2.5s);
    .animation-fill-mode(inherit);
    background-color: #0E4C82;
    .skew(10deg; 0);
  }

  .light-overlay {
    position: absolute;
    left: -50%;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    //.animation-duration(2s);
    //.animation-delay(2.9s);
    .animation-fill-mode(inherit);
    background-color: #4FC3F7;
    .skew(10deg; 0);
  }
}

