/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@-ms-viewport {
  width: device-width;
}
.rtl {
    text-align: right;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  height: 100%;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
/*!
 * Less Long Shadow v1.0
 *
 * Open sourced under MIT license by @zensimilia.
 */
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
.zoomIn {
  animation-name: zoomIn;
  -webkit-animation-name: zoomIn;
}
@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slideInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slideInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -moz-transform: translateY(0);
  }
}
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -moz-animation-name: slideInUp;
}
@keyframes slideInUp50 {
  0% {
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes slideInUp50 {
  0% {
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
.slideInUp50 {
  -webkit-animation-name: slideInUp50;
  animation-name: slideInUp50;
}
@keyframes slideInUp500 {
  0% {
    opacity: 0;
    transform: translateY(500%);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slideInUp500 {
  0% {
    opacity: 0;
    transform: translateY(500%);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes slideInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(500%);
    visibility: visible;
  }
  100% {
    -moz-transform: translateY(0);
  }
}
.slideInUp500 {
  -webkit-animation-name: slideInUp500;
  animation-name: slideInUp500;
}
@-webkit-keyframes rotateInUpLeftZoomIn {
  0% {
    -webkit-transform-origin: 30% bottom;
    -webkit-transform: rotate(10deg) scale(0.1, 0.1);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(0) scale(1, 1);
    opacity: 1;
  }
}
@-moz-keyframes rotateInUpLeftZoomIn {
  0% {
    -moz-transform-origin: 30% bottom;
    -moz-transform: rotate(15deg) scale(0.1, 0.1);
    opacity: 0;
  }
  100% {
    -moz-transform-origin: 30% bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}
@-o-keyframes rotateInUpLeftZoomIn {
  0% {
    -o-transform-origin: 30% bottom;
    -o-transform: rotate(10deg) scale(0.1, 0.1);
    opacity: 0;
  }
  100% {
    -o-transform-origin: left bottom;
    -o-transform: rotate(0) scale(1, 1);
    opacity: 1;
  }
}
@keyframes rotateInUpLeftZoomIn {
  0% {
    transform-origin: 30% bottom;
    transform: rotate(10deg) scale(0.1, 0.1);
    opacity: 0;
  }
  100% {
    transform-origin: left bottom;
    transform: rotate(0) scale(1, 1);
    opacity: 1;
  }
}
.rotateInUpLeftZoomIn {
  -webkit-animation-name: rotateInUpLeftZoomIn;
  -moz-animation-name: rotateInUpLeftZoomIn;
  -o-animation-name: rotateInUpLeftZoomIn;
  animation-name: rotateInUpLeftZoomIn;
}
@keyframes zoomOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes zoomOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes zoomOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -moz-transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 0;
  }
}
.zoomOut {
  animation-name: zoomOut;
  -webkit-animation-name: zoomOut;
  -moz-animation-name: zoomOut;
}
::-webkit-scrollbar {
  display: none;
}
body {
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  overflow-y: scroll !important;
}
#kbc-wrap {
  min-height: 100%;
  height: 100%;
  font-size: 0;
}
#kbc-wrap:before {
  content: '';
  display: inline-block;
  vertical-align: bottom;
  height: 100%;
}
#kbc-wrap .social {
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
}
.kbc-logo {
  margin-bottom: 27px;
  position: absolute;
  top: 9px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
@media (min-width: 768px) {
  .kbc-logo {
    top: 10px;
  }
}
.kbc-logo img {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  -o-animation-delay: 0.7s;
  animation-delay: 0.7s;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  animation-duration: 0.3s;
}
.kbc-social {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  width: 98%;
  height: 648px;
  margin: 15px auto 0;
  border-radius: 15px;
  padding: 15px;
  position: relative;
  text-align: center;
  z-index: 10;
}
@media (min-width: 768px) {
  .kbc-social {
    padding: 40px;
    border-radius: 30px;
    margin: 30px auto 0;
    width: 88.7%;
  }
}
@media (min-width: 992px) {
  .kbc-social {
    padding: 70px;
  }
}
.kbc-social.twitter {
  background-color: #55ACEE;
}
.kbc-social.twitter .arrow {
  border-top-color: #55ACEE;
}
.kbc-social.facebook {
  background-color: #365493;
}
.kbc-social.facebook .arrow {
  border-top-color: #365493;
}
.kbc-social.instagram {
  background-color: #795548;
}
.kbc-social.instagram .arrow {
  border-top-color: #795548;
}
.kbc-social .photo {
  display: block;
  float: left;
  margin-right: 70px;
  border-radius: 30px;
  width: 500px;
  height: 500px;
}
.kbc-social .content {
  padding-top: 30px;
}
.kbc-social .content.pushed {
  overflow: hidden;
  text-align: left;
}
.kbc-social .head {
  display: inline-flex;
  margin-bottom: 50px;
}
.kbc-social .head .avatar {
  display: block;
  border-radius: 50%;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}
@media (min-width: 768px) {
  .kbc-social .head .avatar {
    margin-right: 20px;
    float: left;
  }
}
@media (min-width: 992px) {
  .kbc-social .head .avatar {
    width: 162px;
    height: 162px;
  }
}
.kbc-social .head > div {
  overflow: hidden;
}
.kbc-social .head h3,
.kbc-social .head p {
  color: #fff;
}
@media (min-width: 768px) {
  .kbc-social .head h3,
  .kbc-social .head p {
    text-align: left;
  }
}
.kbc-social .head h3 {
  font-size: 33px;
  margin-top: 20px;
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .kbc-social .head h3 {
    font-size: 53px;
  }
}
.kbc-social .head p {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .kbc-social .head p {
    font-size: 42px;
  }
}
.kbc-social .text {
  color: #fff;
  font-size: 25px;
  height: 255px;
    width: 100%;
}
@media (min-width: 992px) {
  .kbc-social .text {
    font-size: 42px;
  }
}
.kbc-social .arrow {
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-top: 70px solid;
  position: absolute;
  left: 162px;
  bottom: -18px;
  -webkit-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
  z-index: -1;
}
@media (min-width: 768px) {
  .kbc-social .arrow {
    left: 273px;
  }
}
@media (min-width: 992px) {
  .kbc-social .arrow {
    left: 25%;
    border-left-width: 100px;
    border-right-width: 100px;
  }
}
.footer {
  width: 97%;
  padding: 37px 0 0;
  margin: 10px  auto 0;
  text-align: left;
  font-size: 23px;
}
@media (min-width: 768px) {
  .footer {
    width: 82.45%;
    font-size: 48px;
  }
}
@media (min-width: 992px) {
  .footer {
    font-size: 38px;
  }
}
.footer.twitter {
  color: #55ACEE;
}
.footer.facebook {
  color: #365493;
}
.footer.instagram {
  color: #795548;
}
.footer .follow {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  animation-delay: 0.8s;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  animation-duration: 0.3s;
  display: inline-block;
  letter-spacing: 3.5px;
}
.footer .fa {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1;
    animation-delay: 1s;
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    -o-animation-duration: 0.3s;
    animation-duration: 0.3s;
    vertical-align: middle;
    font-size: 60px;
    text-shadow: 1px 1px 1px #ebebeb, 2px 2px 1px #ebebeb, 3px 3px 1px #ebebeb, 4px 4px 1px #ebebeb, 5px 5px 1px #ebebeb, 6px 6px 1px #ebebeb, 7px 7px 1px #ebebeb, 8px 8px 1px #ebebeb, 9px 9px 1px #ebebeb, 10px 10px 1px #ebebeb, 11px 11px 1px #ebebeb, 12px 12px 1px #ebebeb, 13px 13px 1px #ebebeb, 14px 14px 1px #ebebeb, 15px 15px 1px #ebebeb, 16px 16px 1px #ebebeb, 17px 17px 1px #ebebeb, 18px 18px 1px #ebebeb, 19px 19px 1px #ebebeb, 20px 20px 1px #ebebeb, 21px 21px 1px #ebebeb, 22px 22px 1px #ebebeb, 23px 23px 1px #ebebeb, 24px 24px 1px #ebebeb, 25px 25px 1px #ebebeb, 26px 26px 1px #ebebeb, 27px 27px 1px #ebebeb, 28px 28px 1px #ebebeb, 29px 29px 1px #ebebeb, 30px 30px 1px #ebebeb, 31px 31px 1px #ebebeb, 32px 32px 1px #ebebeb, 33px 33px 1px #ebebeb, 34px 34px 1px #ebebeb, 35px 35px 1px #ebebeb, 36px 36px 1px #ebebeb, 37px 37px 1px #ebebeb, 38px 38px 1px #ebebeb, 39px 39px 1px #ebebeb, 40px 40px 1px #ebebeb, 41px 41px 1px #ebebeb, 42px 42px 1px #ebebeb, 43px 43px 1px #ebebeb, 44px 44px 1px #ebebeb, 45px 45px 1px #ebebeb, 46px 46px 1px #ebebeb, 47px 47px 1px #ebebeb, 48px 48px 1px #ebebeb, 49px 49px 1px #ebebeb, 50px 50px 1px #ebebeb, 51px 51px 1px #ebebeb, 52px 52px 1px #ebebeb, 53px 53px 1px #ebebeb, 54px 54px 1px #ebebeb, 55px 55px 1px #ebebeb, 56px 56px 1px #ebebeb, 57px 57px 1px #ebebeb, 58px 58px 1px #ebebeb, 59px 59px 1px #ebebeb, 60px 60px 1px #ebebeb, 61px 61px 1px #ebebeb, 62px 62px 1px #ebebeb, 63px 63px 1px #ebebeb, 64px 64px 1px #ebebeb, 65px 65px 1px #ebebeb, 66px 66px 1px #ebebeb, 67px 67px 1px #ebebeb, 68px 68px 1px #ebebeb, 69px 69px 1px #ebebeb, 70px 70px 1px #ebebeb, 71px 71px 1px #ebebeb, 72px 72px 1px #ebebeb, 73px 73px 1px #ebebeb, 74px 74px 1px #ebebeb, 75px 75px 1px #ebebeb, 76px 76px 1px #ebebeb, 77px 77px 1px #ebebeb, 78px 78px 1px #ebebeb, 79px 79px 1px #ebebeb, 80px 80px 1px #ebebeb, 81px 81px 1px #ebebeb, 82px 82px 1px #ebebeb, 83px 83px 1px #ebebeb, 84px 84px 1px #ebebeb, 85px 85px 1px #ebebeb, 86px 86px 1px #ebebeb, 87px 87px 1px #ebebeb, 88px 88px 1px #ebebeb, 89px 89px 1px #ebebeb, 90px 90px 1px #ebebeb, 91px 91px 1px #ebebeb, 92px 92px 1px #ebebeb, 93px 93px 1px #ebebeb, 94px 94px 1px #ebebeb, 95px 95px 1px #ebebeb, 96px 96px 1px #ebebeb, 97px 97px 1px #ebebeb, 98px 98px 1px #ebebeb, 99px 99px 1px #ebebeb, 100px 100px 1px #ebebeb, 101px 101px 1px #ebebeb, 102px 102px 1px #ebebeb, 103px 103px 1px #ebebeb, 104px 104px 1px #ebebeb, 105px 105px 1px #ebebeb, 106px 106px 1px #ebebeb, 107px 107px 1px #ebebeb, 108px 108px 1px #ebebeb, 109px 109px 1px #ebebeb, 110px 110px 1px #ebebeb, 111px 111px 1px #ebebeb, 112px 112px 1px #ebebeb, 113px 113px 1px #ebebeb, 114px 114px 1px #ebebeb, 115px 115px 1px #ebebeb, 116px 116px 1px #ebebeb, 117px 117px 1px #ebebeb, 118px 118px 1px #ebebeb, 119px 119px 1px #ebebeb, 120px 120px 1px #ebebeb, 121px 121px 1px #ebebeb, 122px 122px 1px #ebebeb, 123px 123px 1px #ebebeb, 124px 124px 1px #ebebeb, 125px 125px 1px #ebebeb, 126px 126px 1px #ebebeb, 127px 127px 1px #ebebeb, 128px 128px 1px #ebebeb, 129px 129px 1px #ebebeb, 130px 130px 1px #ebebeb, 131px 131px 1px #ebebeb, 132px 132px 1px #ebebeb, 133px 133px 1px #ebebeb, 134px 134px 1px #ebebeb, 135px 135px 1px #ebebeb, 136px 136px 1px #ebebeb, 137px 137px 1px #ebebeb, 138px 138px 1px #ebebeb, 139px 139px 1px #ebebeb, 140px 140px 1px #ebebeb, 141px 141px 1px #ebebeb, 142px 142px 1px #ebebeb, 143px 143px 1px #ebebeb, 144px 144px 1px #ebebeb, 145px 145px 1px #ebebeb, 146px 146px 1px #ebebeb, 147px 147px 1px #ebebeb, 148px 148px 1px #ebebeb, 149px 149px 1px #ebebeb, 150px 150px 1px #ebebeb, 151px 151px 1px #ebebeb, 152px 152px 1px #ebebeb, 153px 153px 1px #ebebeb, 154px 154px 1px #ebebeb, 155px 155px 1px #ebebeb, 156px 156px 1px #ebebeb, 157px 157px 1px #ebebeb, 158px 158px 1px #ebebeb, 159px 159px 1px #ebebeb, 160px 160px 1px #ebebeb, 161px 161px 1px #ebebeb, 162px 162px 1px #ebebeb, 163px 163px 1px #ebebeb, 164px 164px 1px #ebebeb, 165px 165px 1px #ebebeb, 166px 166px 1px #ebebeb, 167px 167px 1px #ebebeb, 168px 168px 1px #ebebeb, 169px 169px 1px #ebebeb, 170px 170px 1px #ebebeb, 171px 171px 1px #ebebeb, 172px 172px 1px #ebebeb, 173px 173px 1px #ebebeb, 174px 174px 1px #ebebeb, 175px 175px 1px #ebebeb, 176px 176px 1px #ebebeb, 177px 177px 1px #ebebeb, 178px 178px 1px #ebebeb, 179px 179px 1px #ebebeb, 180px 180px 1px #ebebeb, 181px 181px 1px #ebebeb, 182px 182px 1px #ebebeb, 183px 183px 1px #ebebeb, 184px 184px 1px #ebebeb, 185px 185px 1px #ebebeb, 186px 186px 1px #ebebeb, 187px 187px 1px #ebebeb, 188px 188px 1px #ebebeb, 189px 189px 1px #ebebeb, 190px 190px 1px #ebebeb, 191px 191px 1px #ebebeb, 192px 192px 1px #ebebeb, 193px 193px 1px #ebebeb, 194px 194px 1px #ebebeb, 195px 195px 1px rgba(235, 235, 235, 0.75), 196px 196px 1px rgba(235, 235, 235, 0.75), 197px 197px 1px rgba(235, 235, 235, 0.5), 198px 198px 1px rgba(235, 235, 235, 0.5), 199px 199px 1px rgba(235, 235, 235, 0.25), 200px 200px 1px rgba(235, 235, 235, 0.25),  0px 0px 1px #000;
    margin: 0 0 0 8px;
    line-height: 1;
}
.footer .account {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    animation-delay: 1.2s;
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    -o-animation-duration: 0.3s;
    animation-duration: 0.3s;
    display: inline-block;
    position: relative;
    font-size: 20px;
    letter-spacing: 3.5px;
}
.footer.facebook img {
    width: 147px;
    margin-right: 35px;
}
@media (min-width: 768px) {
  .footer img {
    font-size: 80px;
    margin: 0 0 0 27px;
  }
}
@media (min-width: 992px) {
  .footer img {
    font-size: 130px;
  }
}
@media (min-width: 768px) {
  .footer .account {
    font-size: 32px;
  }
}
@media (min-width: 992px) {
  .footer .account {
    font-size: 42px;
  }
}
