/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  height: 100%;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
.zoomIn {
  animation-name: zoomIn;
  -webkit-animation-name: zoomIn;
}
@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slideInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slideInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -moz-transform: translateY(0);
  }
}
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -moz-animation-name: slideInUp;
}
@keyframes slideInUp50 {
  0% {
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes slideInUp50 {
  0% {
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
.slideInUp50 {
  -webkit-animation-name: slideInUp50;
  animation-name: slideInUp50;
}
@keyframes slideInUp500 {
  0% {
    opacity: 0;
    transform: translateY(500%);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slideInUp500 {
  0% {
    opacity: 0;
    transform: translateY(500%);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes slideInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(500%);
    visibility: visible;
  }
  100% {
    -moz-transform: translateY(0);
  }
}
.slideInUp500 {
  -webkit-animation-name: slideInUp500;
  animation-name: slideInUp500;
}
@-webkit-keyframes slideOutDown {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100%);
    visibility: hidden;
  }
}
@-moz-keyframes slideOutDown {
  0% {
    -moz-transform: translateY(0);
  }
  100% {
    -moz-transform: translateY(100%);
    visibility: hidden;
  }
}
@-o-keyframes slideOutDown {
  0% {
    -o-transform: translateY(0);
  }
  100% {
    -o-transform: translateY(100%);
    visibility: hidden;
  }
}
@keyframes slideOutDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
    visibility: hidden;
  }
}
.slideOutDown {
  -webkit-animation-name: slideOutDown;
  -moz-animation-name: slideOutDown;
  -o-animation-name: slideOutDown;
  animation-name: slideOutDown;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeIn05 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .5;
  }
}
@-moz-keyframes fadeIn05 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .5;
  }
}
@-o-keyframes fadeIn05 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .5;
  }
}
@keyframes fadeIn05 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .5;
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes slideInRight {
  0% {
    -moz-transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@-o-keyframes slideInRight {
  0% {
    -o-transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -o-transform: translateX(0);
  }
}
.slideInRight {
  animation-name: slideInRight;
  -webkit-animation-name: slideInRight;
}
@-webkit-keyframes slideInDown {
  0% {
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes slideInDown {
  0% {
    -moz-transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@-o-keyframes slideInDown {
  0% {
    -o-transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -o-transform: translateY(0);
  }
}
@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    transform: translateY(0);
  }
}
.slideInDown {
  -webkit-animation-name: slideInDown;
  -moz-animation-name: slideInDown;
  -o-animation-name: slideInDown;
  animation-name: slideInDown;
}
@-webkit-keyframes slideInDownLarge {
  0% {
    transform: translateY(-300%);
    visibility: visible;
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes slideInDownLarge {
  0% {
    -moz-transform: translateY(-300%);
    visibility: visible;
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@-o-keyframes slideInDownLarge {
  0% {
    -o-transform: translateY(-300%);
    visibility: visible;
  }
  100% {
    -o-transform: translateY(0);
  }
}
@keyframes slideInDownLarge {
  0% {
    transform: translateY(-300%);
    visibility: visible;
  }
  100% {
    transform: translateY(0);
  }
}
.slideInDownLarge {
  -webkit-animation-name: slideInDownLarge;
  -moz-animation-name: slideInDownLarge;
  -o-animation-name: slideInDownLarge;
  animation-name: slideInDownLarge;
}
@-webkit-keyframes sign-anim {
  to {
    background-position: 0 -3632.727272727273px;
  }
}
@-moz-keyframes sign-anim {
  to {
    background-position: 0 -3632.727272727273px;
  }
}
@keyframes sign-anim {
  to {
    background-position: 0 -3632.727272727273px;
  }
}
@media (min-width: 480px) {
  @-webkit-keyframes sign-anim {
    to {
      background-position: 0 -4795.2px;
    }
  }
  @-moz-keyframes sign-anim {
    to {
      background-position: 0 -4795.2px;
    }
  }
  @keyframes sign-anim {
    to {
      background-position: 0 -4795.2px;
    }
  }
}
@media (min-width: 960px) {
  @-webkit-keyframes sign-anim {
    to {
      background-position: 0 -11988px;
    }
  }
  @-moz-keyframes sign-anim {
    to {
      background-position: 0 -11988px;
    }
  }
  @keyframes sign-anim {
    to {
      background-position: 0 -11988px;
    }
  }
}
body {
  text-align: center;
  font-family: 'BebasNeueBold';
  overflow: hidden;
  position: relative;
  height: auto;
  min-height: 100%;
}
.start-screen {
  background: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  -webkit-animation-delay: 3.15s;
  -moz-animation-delay: 3.15s;
  -o-animation-delay: 3.15s;
  animation-delay: 3.15s;
}
.start-screen:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.start-screen .text {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}
.start-screen .logo-section {
  margin: 0 auto 46px;
  width: 290.90909090909093px;
  height: 100.90909090909092px;
  position: relative;
}
@media (min-width: 500px) {
  .start-screen .logo-section {
    width: 384px;
    height: 133.2px;
  }
}
@media (min-width: 960px) {
  .start-screen .logo-section {
    width: 960px;
    height: 333px;
  }
}
.start-screen .logo-section .logo {
  display: block;
  margin: 0 auto;
  width: 290.90909090909093px;
  height: 100.90909090909092px;
  background: url("images/logo-animation.png") 0 0 no-repeat;
  -webkit-animation: sign-anim 1.25s 0.5s steps(36) forwards;
  -moz-animation: sign-anim 1.25s 0.5s steps(36) forwards;
  -o-animation: sign-anim 1.25s 0.5s steps(36) forwards;
  animation: sign-anim 1.25s 0.5s steps(36) forwards;
  background-size: 290.90909090909093px auto;
}
@media (min-width: 480px) {
  .start-screen .logo-section .logo {
    background-size: 384px auto;
    width: 384px;
    height: 133.2px;
  }
}
@media (min-width: 960px) {
  .start-screen .logo-section .logo {
    background-size: 100% auto;
    width: 960px;
    height: 333px;
  }
}
.start-screen .logo-section .logo-kbc {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 30%;
  text-align: right;
  -webkit-animation-delay: 1.15s;
  -moz-animation-delay: 1.15s;
  -o-animation-delay: 1.15s;
  animation-delay: 1.15s;
}
@media (min-width: 960px) {
  .start-screen .logo-section .logo-kbc {
    max-width: 100%;
  }
}
.start-screen .slogan {
  text-align: center;
  font-size: 60px;
  color: #FF5D3B;
  -webkit-animation-delay: 1.27s;
  -moz-animation-delay: 1.27s;
  -o-animation-delay: 1.27s;
  animation-delay: 1.27s;
}
@media (min-width: 768px) {
  .start-screen .slogan {
    font-size: 171px;
  }
}
.footer {
  content: '';
  display: block;
  width: 100%;
  height: 30px;
  background: #30c576;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 15;
}
.profiles {
  min-height: 100%;
  padding-bottom: 30px;
  margin-left: 4px;
  z-index: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  /*
  &:after {
    content: '';
    display: block;
    height: 30px;
    background: #30c576;
    position: absolute;
    left: -4px;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
  */
}
.profiles .item {
  width: 33.333%;
  max-width: 180px;
  max-height: 180px;
  -webkit-flex: auto;
  flex: auto;
  margin-left: -4px;
  background: #672619;
  overflow: hidden;
}
@media (min-width: 768px) {
  .profiles .item {
    width: 20%;
  }
}
@media (min-width: 992px) {
  .profiles .item {
    width: 9.09%;
  }
}
.profiles .shadow {
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
}
.profiles .popup {
  overflow: hidden;
  position: static;
  z-index: 9;
  -webkit-animation-delay: 4.1s;
  -moz-animation-delay: 4.1s;
  -o-animation-delay: 4.1s;
  animation-delay: 4.1s;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}
.profiles .popup.active {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  width: 96%;
  max-width: 1344px;
}
@media (min-width: 768px) {
  .profiles .popup.active {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
  }
  .profiles .popup.active img {
    -webkit-flex: auto;
    flex: auto;
    width: 37%;
    height: 100%;
  }
}
.profiles .popup.active .content {
  display: block;
}
.profiles .popup img {
  position: relative;
  z-index: 5;
}
.profiles .popup .content {
  display: none;
  position: relative;
  z-index: 4;
  background: #00a8ec;
  color: #ffffff;
  -webkit-animation-delay: 3.2s;
  -moz-animation-delay: 3.2s;
  -o-animation-delay: 3.2s;
  animation-delay: 3.2s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  text-align: left;
  padding: 24px 10px 0 26px;
}
@media (max-width: 767px) {
  .profiles .popup .content {
    -webkit-animation-name: slideInDown;
    -moz-animation-name: slideInDown;
    -o-animation-name: slideInDown;
    animation-name: slideInDown;
  }
}
@media (min-width: 768px) {
  .profiles .popup .content {
    padding: 47px 20px 0 53px;
    width: 63%;
    -webkit-animation-name: slideInRight;
    -moz-animation-name: slideInRight;
    -o-animation-name: slideInRight;
    animation-name: slideInRight;
  }
}
.profiles .popup .content h1 {
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
  -o-animation-delay: 3.5s;
  animation-delay: 3.5s;
  font-size: 33.2px;
  margin: 0;
  line-height: 1;
}
@media (min-width: 768px) {
  .profiles .popup .content h1 {
    font-size: 83.2px;
  }
}
.profiles .popup .content h2 {
  -webkit-animation-delay: 3.8s;
  -moz-animation-delay: 3.8s;
  -o-animation-delay: 3.8s;
  animation-delay: 3.8s;
  font-size: 26.3px;
  margin: 0 0 13px;
  line-height: 1;
  font-weight: normal;
}
@media (min-width: 768px) {
  .profiles .popup .content h2 {
    font-size: 76.3px;
    margin: 0 0 33px;
  }
}
.profiles .popup .content p {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
  font-size: 15px;
  font-family: Muli;
  margin: 0;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .profiles .popup .content p {
    font-size: 50px;
  }
}
.profiles .popup .content .web {
  -webkit-animation-delay: 4.3s;
  -moz-animation-delay: 4.3s;
  -o-animation-delay: 4.3s;
  animation-delay: 4.3s;
  font-size: 20px;
  margin: 10px 0 0;
  line-height: 1;
}
@media (min-width: 768px) {
  .profiles .popup .content .web {
    font-size: 61px;
    margin: 50px 0 0;
  }
}
