/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  height: 100%;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
.zoomIn {
  animation-name: zoomIn;
  -webkit-animation-name: zoomIn;
}
@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slideInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slideInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -moz-transform: translateY(0);
  }
}
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -moz-animation-name: slideInUp;
}
@keyframes slideInUp50 {
  0% {
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes slideInUp50 {
  0% {
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
.slideInUp50 {
  -webkit-animation-name: slideInUp50;
  animation-name: slideInUp50;
}
@keyframes slideInUp500 {
  0% {
    opacity: 0;
    transform: translateY(500%);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slideInUp500 {
  0% {
    opacity: 0;
    transform: translateY(500%);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes slideInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(500%);
    visibility: visible;
  }
  100% {
    -moz-transform: translateY(0);
  }
}
.slideInUp500 {
  -webkit-animation-name: slideInUp500;
  animation-name: slideInUp500;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeIn05 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .5;
  }
}
@-moz-keyframes fadeIn05 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .5;
  }
}
@-o-keyframes fadeIn05 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .5;
  }
}
@keyframes fadeIn05 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .5;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes sign-anim {
  to {
    background-position: 0 -3632.727272727273px;
  }
}
@-moz-keyframes sign-anim {
  to {
    background-position: 0 -3632.727272727273px;
  }
}
@keyframes sign-anim {
  to {
    background-position: 0 -3632.727272727273px;
  }
}
@media (min-width: 480px) {
  @-webkit-keyframes sign-anim {
    to {
      background-position: 0 -4795.2px;
    }
  }
  @-moz-keyframes sign-anim {
    to {
      background-position: 0 -4795.2px;
    }
  }
  @keyframes sign-anim {
    to {
      background-position: 0 -4795.2px;
    }
  }
}
@media (min-width: 960px) {
  @-webkit-keyframes sign-anim {
    to {
      background-position: 0 -11988px;
    }
  }
  @-moz-keyframes sign-anim {
    to {
      background-position: 0 -11988px;
    }
  }
  @keyframes sign-anim {
    to {
      background-position: 0 -11988px;
    }
  }
}
body {
  text-align: center;
  font-family: 'BebasNeueBold';
  overflow: hidden;
  position: relative;
  height: 100%;
  min-height: 100%;
}
.bg-image {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  animation-delay: 3s;
  animation-name: bg-anim;
  -webkit-animation-name: bg-anim;
  -moz-animation-name: bg-anim;
  -o-animation-name: bg-anim;
  -webkit-animation-duration: 8s;
  -moz-animation-duration: 8s;
  -o-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background: url("images/bg.jpg") no-repeat center;
  background-size: 105% 105%;
  background-position: 0 0;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
}
.bottom-line {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #ff5d3b;
  height: 33px;
  z-index: 0;
}
.start-screen {
  background: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  -webkit-animation-delay: 3.15s;
  -moz-animation-delay: 3.15s;
  -o-animation-delay: 3.15s;
  animation-delay: 3.15s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.logo2 {
  -webkit-animation-delay: 3.25s;
  -moz-animation-delay: 3.25s;
  -o-animation-delay: 3.25s;
  animation-delay: 3.25s;
  padding-top: 102px;
}
.start-text {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 11;
  font-size: 0;
  -webkit-animation-delay: 3.25s;
  -moz-animation-delay: 3.25s;
  -o-animation-delay: 3.25s;
  animation-delay: 3.25s;
}
.start-text:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.start-text .text {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  margin: 0 auto;
}
.start-text .logo-section {
  margin: 0 auto 150px;
  width: 290.90909090909093px;
  height: 100.90909090909092px;
  position: relative;
}
@media (min-width: 500px) {
  .start-text .logo-section {
    width: 384px;
    height: 133.2px;
  }
}
@media (min-width: 960px) {
  .start-text .logo-section {
    width: 960px;
    height: 333px;
  }
}
.start-text .logo-section .logo {
  display: block;
  margin: 0 auto;
  width: 290.90909090909093px;
  height: 100.90909090909092px;
  background: url("images/logo-animation.png") 0 0 no-repeat;
  -webkit-animation: sign-anim 1.25s 0.5s steps(36) forwards;
  -moz-animation: sign-anim 1.25s 0.5s steps(36) forwards;
  -o-animation: sign-anim 1.25s 0.5s steps(36) forwards;
  animation: sign-anim 1.25s 0.5s steps(36) forwards;
  background-size: 290.90909090909093px auto;
}
@media (min-width: 480px) {
  .start-text .logo-section .logo {
    background-size: 384px auto;
    width: 384px;
    height: 133.2px;
  }
}
@media (min-width: 960px) {
  .start-text .logo-section .logo {
    background-size: 100% auto;
    width: 960px;
    height: 333px;
  }
}
.start-text .logo-section .logo-kbc {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 30%;
  text-align: right;
  -webkit-animation-delay: 1.15s;
  -moz-animation-delay: 1.15s;
  -o-animation-delay: 1.15s;
  animation-delay: 1.15s;
}
@media (min-width: 960px) {
  .start-text .logo-section .logo-kbc {
    max-width: 100%;
  }
}
.start-text .slogan-fade {
  -webkit-animation-delay: 3.15s;
  -moz-animation-delay: 3.15s;
  -o-animation-delay: 3.15s;
  animation-delay: 3.15s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.start-text .slogan {
  text-align: center;
  font-size: 30px;
  color: #FF5D3B;
  -webkit-animation-delay: 1.27s;
  -moz-animation-delay: 1.27s;
  -o-animation-delay: 1.27s;
  animation-delay: 1.27s;
}
@media (min-width: 768px) {
  .start-text .slogan {
    font-size: 80px;
  }
}
.text {
  max-width: 83%;
  margin: 77px auto 0;
}
.text .text1 {
  font-family: 'Muli';
  color: #ffffff;
  font-size: 38.8px;
}
@media (min-width: 992px) {
  .text .text1 {
    font-size: 58.8px;
  }
}
.text .text1 .slide1 {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  overflow: hidden;
}
.text .text1 .slide2 {
  margin-top: 42px;
  -webkit-animation-delay: 3.15s;
  -moz-animation-delay: 3.15s;
  -o-animation-delay: 3.15s;
  animation-delay: 3.15s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  overflow: hidden;
}
.text .text2 {
  font-size: 213px;
  color: #00A8EC;
  line-height: 177px;
}
@media (min-width: 992px) {
  .text .text2 {
    font-size: 413px;
    line-height: 377px;
  }
}
.countdown {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-top: 60px;
  position: absolute;
  bottom: 7%;
}
.countdown .item {
  display: table-cell;
  vertical-align: top;
  min-width: 1%;
  text-align: center;
}
.countdown .item .title {
  color: #ffffff;
  font-family: 'Muli';
  font-size: 28px;
  text-transform: uppercase;
}
.countdown .item .title.small {
  font-size: 24px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.countdown .item .number {
  color: #00A8EC;
  font-size: 141px;
  line-height: 1;
}
.countdown .item1 .title {
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -o-animation-delay: 5s;
  animation-delay: 5s;
}
.countdown .item1 .number {
  -webkit-animation-delay: 5.2s;
  -moz-animation-delay: 5.2s;
  -o-animation-delay: 5.2s;
  animation-delay: 5.2s;
}
.countdown .item2 .title {
  -webkit-animation-delay: 5.2s;
  -moz-animation-delay: 5.2s;
  -o-animation-delay: 5.2s;
  animation-delay: 5.2s;
}
.countdown .item2 .number {
  -webkit-animation-delay: 5.4s;
  -moz-animation-delay: 5.4s;
  -o-animation-delay: 5.4s;
  animation-delay: 5.4s;
}
.countdown .item3 .title {
  -webkit-animation-delay: 5.4s;
  -moz-animation-delay: 5.4s;
  -o-animation-delay: 5.4s;
  animation-delay: 5.4s;
}
.countdown .item3 .number {
  -webkit-animation-delay: 5.6s;
  -moz-animation-delay: 5.6s;
  -o-animation-delay: 5.6s;
  animation-delay: 5.6s;
}
.countdown .item4 .title {
  -webkit-animation-delay: 5.6s;
  -moz-animation-delay: 5.6s;
  -o-animation-delay: 5.6s;
  animation-delay: 5.6s;
}
.countdown .item4 .number {
  -webkit-animation-delay: 5.8s;
  -moz-animation-delay: 5.8s;
  -o-animation-delay: 5.8s;
  animation-delay: 5.8s;
}
.countdown .item5 .title {
  -webkit-animation-delay: 5.8s;
  -moz-animation-delay: 5.8s;
  -o-animation-delay: 5.8s;
  animation-delay: 5.8s;
}
.countdown .item5 .number {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
}
@-webkit-keyframes bg-anim {
  0% {
    background-size: 105% 105%;
  }
  100% {
    background-size: 100% 100%;
  }
}
@-moz-keyframes bg-anim {
  0% {
    background-size: 105% 105%;
  }
  100% {
    background-size: 100% 100%;
  }
}
@-o-keyframes bg-anim {
  0% {
    background-size: 105% 105%;
  }
  100% {
    background-size: 100% 100%;
  }
}
@keyframes bg-anim {
  0% {
    background-size: 105% 105%;
  }
  100% {
    background-size: 100% 100%;
  }
}
#my-slideshow {
  margin: 0 auto;
}
/* Basic jQuery Slider essential styles */
ul.bjqs {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: none;
}
li.bjqs-slide {
  position: absolute;
  display: none;
}
ul.bjqs-controls {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
}
ul.bjqs-controls.v-centered li a {
  position: absolute;
}
ul.bjqs-controls.v-centered li.bjqs-next a {
  right: 0;
}
ul.bjqs-controls.v-centered li.bjqs-prev a {
  left: 0;
}
ol.bjqs-markers {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
ol.bjqs-markers.h-centered {
  text-align: center;
}
ol.bjqs-markers li {
  display: inline;
}
ol.bjqs-markers li a {
  display: inline-block;
}
p.bjqs-caption {
  display: block;
  width: 96%;
  margin: 0;
  padding: 2%;
  position: absolute;
  bottom: 0;
}
